//-------------------

//CSS Notes:
//#id li:nth-child(4n) {} <- this allows CSS to target pattern of elements, in this case every fourth item

//-------------------

//-------------------
// VARIABLIZE
//-------------------
$fonts-main: 'Lato', sans-serif;
$fonts-sub: 'Quicksand', sans-serif;
$im-width: 640px;
$im-height: 360px;
$logo-height: 80px;
$gutter: 20px;
$bleed: 10px;
$cta-width: 350px;
$head-height: $gutter + $logo-height;
$soc-size: 30px;
$col-width:  $im-width + $cta-width + $gutter*10;
$corners: 5px;

$lorem: "Lorem ipsum dolor sit amet, te consetetur inciderint theophrastus qui, quo hinc inani affert no. Nullam denique incorrupte sed ea. Vel at eros noluisse laboramus, no paulo choro soleat qui, appetere dignissim gubergren at sit. Mea id debet indoctum. Ne ferri simul pro. Paulo veritus accumsan ne his, te cibo dissentias scripserit sea, diam omnes sit ei.";

//-----COLORS--------

$steel: #203049;
$aluminum: #aaa;
$d-blue: #112233;

$red: #96241D;
$orange: #D19547;
$blue: #2BA0F9;
$purple: #A83AAB;
$yellow: #E0DC59;
$green: #46922A;
$grey: #ddd;

$fb-blue: #3c5a96;
$tw-blue: #59adeb;
$go-red: #d82a20;
$in-blue: #1779b3;
$em-neutral: #999999;
$bg-orange: #fd6720;
$pn-red: #c51e23;

//-------------------
// STANDARDIZE
//-------------------
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
div {
    position: relative;
}
img {
    display: inline-block;
    border: 0;
    outline: none; 
}
a {
    display: inline-block;
}
a img {
    border: 0; 
}
a, a:hover, a:visited, a:active {
    text-decoration: none; 
}
h1, h2, h3 {
    font-weight: 400;
}
body {
    position: relative;
    font-family: $fonts-sub;
    font-weight: 400;
    background: url("../images/grid-big.png") repeat $steel;
}
form {
    padding: $gutter;
    background-color: $grey;
    border-radius: $corners;
    &:child {
        
    }
}
input[type=text] {
    color: $purple;
    background-color: white;
    border: solid 1px $purple;
    border-radius: $corners;
    padding: $corners;
    width: 50%;
    margin-right: $bleed;
    height: 25px;
}
select {
    
    display: inline-block;
    color: white;
    background-color: $blue;
    line-height: 1;
    width: 25%;
    margin-right: $bleed;
    padding: $corners;
    height: 25px;
}
input[type=submit] {
    border-radius: $corners;
    color: white;
    background-color: $purple;
    border: 0;
    padding: $corners;
    width: 15%;
    &:hover {
        background-color: $blue;
        cursor: pointer;
    }
    height: 25px;
}
#page {
    width: 100%;
    max-width: $col-width - $gutter*2;
    min-width: 200px;
    overflow: hidden;
    margin: $bleed auto 0;
    box-shadow: 0 0 10px black;
    background-color: $grey;
} 
    header {
        display: inline-block;
        width: 100%;
        text-align: center;
        background: linear-gradient(#444, $aluminum);
        a {
            width: 60%; 
            max-width: 370px;
        }
        img {
            display: inline-block;
            width: 100%;
            margin: $gutter 0 -1*($gutter);
        }
        
    }
    nav {
        width: 100%;
        color: white;
        box-shadow: 0 2px 5px black;
        font-size: 1em;
        background: url("../images/gel-btn.png") repeat-x #A83AAB;
        ul {
            list-style: none;
            li {
                width: 20%;
                display: inline-block;
                a {
                    width: 100%;
                    text-align: center;
                    color: white;
                    line-height: $gutter*2;
                    &:hover {
                        background: url("../images/gel-btn.png") repeat-x $green;
                    }
                }
                .selected {
                    background: url("../images/gel-btn.png") repeat-x $blue;
                }
            }
        }
    }
    content {
        display: block;
        overflow: hidden;
        min-height: 200px;
        margin: $gutter; 
        text-align: center;
        padding: $gutter;
        background-color: white;
        border-radius: $corners;
        img {
            width: 100%;
        }
        div {
            text-align: left;
            display: inline-block;
            color: darkslategrey;
            p.empty:after {
                content: $lorem;
            }
            h2:after {
                content: "Section Title";
            }
            h2 {
                color: $green;
                margin-bottom: $bleed;   
            }
        }
        div:nth-child(odd) {
            width: 50%;
            float: left;
            padding: 2% 5%;
        }
        div:nth-child(even) {
            width: 50%;
            float: right;
            padding: 2% 5%;
        }
        .closer {
            clear: both;
        }
    } 
    footer {
        display: block;
        text-align: right;
        font-size: .7em;
        padding: $bleed $gutter*2;
        background: linear-gradient($green, #030);
        color: white;
        a {
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
            #socnet {
            float: right;
            height: $gutter*2;
            font-size: 14px;
            text-align: right;
            h4 {
                display: inline-block;
                line-height: $gutter*2;
                vertical-align: top;
                color: white;
                font-weight: 400;
            }
            a {
                width: $soc-size;
                height: $soc-size;
                border-radius: $soc-size/2;
                margin: 5px 0 0 4px;
                background: url("../images/socnet-sprite.png") no-repeat $aluminum;
            }
            .fb {
                background-position: 0 -1*$soc-size;
                &:hover {
                    background-position: 0 0;
                    background-color: $fb-blue;
                    border-color: $fb-blue;
                }
            }
            .tw {
                background-position: -1*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -1*$soc-size 0;
                    background-color: $tw-blue;
                    border-color: $tw-blue;
                }
            }
            .go {
                background-position: -2*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -2*$soc-size 0;
                    background-color: $go-red;
                    border-color: $go-red;
                }
            }
            .in {
                background-position: -3*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -3*$soc-size 0;
                    background-color: $in-blue;
                    border-color: $in-blue;
                }
            }
            .em {
                background-position: -4*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -4*$soc-size 0;
                    background-color: $em-neutral;
                    border-color: $em-neutral;
                }
            }
        }
#results {
    width: 100%;
    margin-top: $gutter;
    min-height: 300px;
    padding: $gutter 5%;
    border-radius: $corners;
    background-color: $grey;
    ul {
        list-style: none;
        background-color: white;
        li {
            padding: $gutter;
            border-bottom: solid $bleed $grey;
            clear: both;
        }
        h1 {
            clear: right;
            font-size: 1.7em;
        }
        img {
            float: left;
            width: 180px;
            min-height: 270px;
            background-color: darkgray;
            margin: 0 $gutter $gutter 0;
        }
        button {
            margin-bottom: $gutter;
            float: right;
            padding: $corners;
            border: solid grey 1px;
            background-color: lightgrey;
            color: grey;
            font-size: 1em;
            border-radius: $corners;
        }
        button.avail {
            float: right;
            padding: $corners;
            border: solid green 1px;
            background-color: darkseagreen;
            color: darkgreen;
            border-radius: $corners;
            &:hover {
                color: white;
                background-color: green;
            }
        }
        h3 {
            font-weight: 700;
            margin-bottom: $gutter;
        }
        p {
            margin: 0 $gutter $gutter 0;
        }
    }
}
@media screen and (max-width: 800px) {
    .content {
        div:nth-child(odd) {
            width: 100%;
            float: none;
        }
        div:nth-child(even) {
            width: 100%;
            float: none;
        }
    }
    input[type=text] {
        width: 100%;
        margin-bottom: $bleed;
    }
    select {
        width: 100%;
        margin-bottom: $bleed;
    }
    input[type=submit] {
        width: 50%;
    }
    nav {
        font-size: .8em;
    }
}