/* line 43, css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 49, css.scss */
ul {
  list-style: none;
}

/* line 52, css.scss */
div {
  position: relative;
}

/* line 55, css.scss */
img {
  display: inline-block;
  border: 0;
  outline: none;
}

/* line 60, css.scss */
a {
  display: inline-block;
}

/* line 63, css.scss */
a img {
  border: 0;
}

/* line 66, css.scss */
a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/* line 69, css.scss */
h1, h2, h3 {
  font-weight: 400;
}

/* line 72, css.scss */
body {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background: url("../images/grid-big.png") repeat #203049;
}

/* line 78, css.scss */
#page {
  width: 100%;
  max-width: 1000px;
  min-width: 200px;
  overflow: hidden;
  margin: 10px auto 0;
  box-shadow: 0 0 10px black;
  background-color: #dddddd;
}

/* line 87, css.scss */
header {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: linear-gradient(#444444, #aaaaaa);
}
/* line 92, css.scss */
header a {
  width: 60%;
  max-width: 370px;
}
/* line 96, css.scss */
header img {
  display: inline-block;
  width: 100%;
}

/* line 101, css.scss */
nav {
  width: 100%;
  color: white;
  box-shadow: 0 2px 5px black;
  font-size: 1em;
  background: url("../images/gel-btn.png") repeat-x #a83aab;
}
/* line 107, css.scss */
nav ul {
  list-style: none;
}
/* line 109, css.scss */
nav ul li {
  width: 20%;
  display: inline-block;
}
/* line 112, css.scss */
nav ul li a {
  width: 100%;
  text-align: center;
  color: white;
  line-height: 40px;
}
/* line 117, css.scss */
nav ul li a:hover {
  background: url("../images/gel-btn.png") repeat-x #46922a;
}
/* line 121, css.scss */
nav ul li .selected {
  background: url("../images/gel-btn.png") repeat-x #2ba0f9;
}

/* line 127, css.scss */
content {
  display: block;
  overflow: hidden;
  min-height: 200px;
  margin: 2%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
/* line 135, css.scss */
content h1 {
  position: absolute;
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: -80px;
  z-index: 10;
}
/* line 146, css.scss */
content .home-title {
  text-shadow: 1px 1px 0 #d19547;
}
/* line 149, css.scss */
content .about-title {
  text-shadow: 1px 1px 0 #e0dc59;
}
/* line 152, css.scss */
content .projects-title {
  text-shadow: 1px 1px 0 #2ba0f9;
}
/* line 155, css.scss */
content img.main {
  width: 100%;
}
/* line 159, css.scss */
content .text div {
  text-align: left;
  display: inline-block;
  color: darkslategrey;
}
/* line 163, css.scss */
content .text div h2 {
  color: #46922a;
  margin-bottom: 10px;
}
/* line 168, css.scss */
content .text div {
  padding: 0 2%;
  margin-bottom: 5%;
}
/* line 171, css.scss */
content .text div:nth-child(odd) {
  clear: both;
  width: 50%;
  float: left;
}
/* line 176, css.scss */
content .text div:nth-child(even) {
  width: 50%;
  float: right;
}
/* line 182, css.scss */
content .shopping {
  padding: 2%;
}
/* line 185, css.scss */
content .needsText:after {
  content: "Lorem ipsum dolor sit amet, te consetetur inciderint theophrastus qui, quo hinc inani affert no. Nullam denique incorrupte sed ea. Vel at eros noluisse laboramus, no paulo choro soleat qui, appetere dignissim gubergren at sit. Mea id debet indoctum. Ne ferri simul pro. Paulo veritus accumsan ne his, te cibo dissentias scripserit sea, diam omnes sit ei.";
}
/* line 188, css.scss */
content .needsTitle:after {
  content: "Lorem Ipsom Dolar";
}

/* line 192, css.scss */
footer {
  display: block;
  text-align: right;
  font-size: .7em;
  padding: 10px 40px;
  background: linear-gradient(#46922a, #003300);
  color: white;
}
/* line 199, css.scss */
footer a {
  color: white;
}
/* line 201, css.scss */
footer a:hover {
  text-decoration: underline;
}

/**************************
    PRODUCTS PAGE
**************************/
/* line 211, css.scss */
#projects-content div img {
  float: left;
  width: 20%;
  max-width: 100px;
  margin: 0 2% 2% 0;
  box-shadow: 2px 2px 5px grey;
}
/* line 218, css.scss */
#projects-content div h2:hover {
  color: #d19547;
  text-decoration: underline;
}

/**************************
    CONTACT PAGE
**************************/
/* line 227, css.scss */
#contact-content {
  padding-top: 40px;
}
/* line 229, css.scss */
#contact-content iframe {
  background-color: #dddddd;
}
/* line 233, css.scss */
#contact-content .text h2 {
  border-bottom: solid #46922a 1px;
}
/* line 236, css.scss */
#contact-content .text div:nth-child(odd) {
  width: 40%;
}
/* line 239, css.scss */
#contact-content .text div:nth-child(even) {
  width: 60%;
}
/* line 242, css.scss */
#contact-content .text .map {
  height: 300px;
}
/* line 246, css.scss */
#contact-content ul {
  margin: 0 20% 40px;
}
/* line 249, css.scss */
#contact-content li {
  text-align: left;
  margin-bottom: 20px;
}
/* line 252, css.scss */
#contact-content li a {
  display: inline-block;
  width: 100%;
  color: darkslategrey;
}
/* line 256, css.scss */
#contact-content li a span {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../images/socnet-sprite.png") no-repeat #2ba0f9;
  background-size: 1000% 200%;
  border-radius: 5px;
}
/* line 267, css.scss */
#contact-content li .hover:hover {
  text-decoration: underline;
}
/* line 270, css.scss */
#contact-content li .nohover:hover {
  cursor: default;
}
/* line 273, css.scss */
#contact-content li .phone span {
  background-position: -234px 0;
  box-shadow: 0 0 0 1px #2ba0f9 inset;
}
/* line 277, css.scss */
#contact-content li .email span {
  background-position: -104px 0;
  box-shadow: 0 0 0 1px #2ba0f9 inset;
}
/* line 281, css.scss */
#contact-content li .facebook span {
  background-position: 0 -26px;
}
/* line 284, css.scss */
#contact-content li .google span {
  background-position: -52px -26px;
}
/* line 287, css.scss */
#contact-content li .twitter span {
  background-position: -26px -26px;
}
/* line 290, css.scss */
#contact-content li .linkedin span {
  background-position: -78px -26px;
}
/* line 293, css.scss */
#contact-content li .forward span {
  background-position: -104px -26px;
}

/**************************
    SHOP PAGE
**************************/
/* line 302, css.scss */
form {
  padding: 20px;
  background-color: #dddddd;
  border-radius: 5px;
}

/* line 307, css.scss */
input[type=text] {
  color: #a83aab;
  background-color: white;
  border: solid 1px #a83aab;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin-right: 10px;
  height: 25px;
}

/* line 317, css.scss */
select {
  display: inline-block;
  color: white;
  background-color: #2ba0f9;
  line-height: 1;
  width: 25%;
  margin-right: 10px;
  padding: 5px;
  height: 25px;
}

/* line 327, css.scss */
input[type=submit] {
  border-radius: 5px;
  color: white;
  background-color: #a83aab;
  border: 0;
  padding: 5px;
  width: 15%;
  height: 25px;
}
/* line 334, css.scss */
input[type=submit]:hover {
  background-color: #2ba0f9;
  cursor: pointer;
}

/* line 340, css.scss */
#lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 348, css.scss */
#lightbox img {
  position: fixed;
  margin: 20px 10%;
  max-width: 400px;
  width: 80%;
  border: solid lightgrey 2px;
}
/* line 354, css.scss */
#lightbox img:hover {
  cursor: pointer;
}

/* line 359, css.scss */
#results {
  width: 100%;
  margin-top: 20px;
  min-height: 300px;
  padding: 20px 2%;
  border-radius: 5px;
  background-color: #dddddd;
}
/* line 366, css.scss */
#results .default-shop-img {
  background-color: white;
  padding: 2%;
}
/* line 369, css.scss */
#results .default-shop-img img {
  width: 100%;
  cursor: pointer;
}
/* line 374, css.scss */
#results h1 {
  position: relative;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2em;
}
/* line 382, css.scss */
#results ul {
  list-style: none;
  background-color: white;
}
/* line 385, css.scss */
#results ul li {
  padding: 20px;
  border-bottom: solid 10px #dddddd;
  clear: both;
}
/* line 389, css.scss */
#results ul li:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 395, css.scss */
#results ul h1 {
  position: relative;
  text-align: left;
  color: #46922a;
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  font-weight: 400;
}
/* line 404, css.scss */
#results ul h3 {
  font-weight: 400;
  color: #a83aab;
  margin-bottom: 20px;
}
/* line 408, css.scss */
#results ul h3 i {
  color: #46922a;
}
/* line 412, css.scss */
#results ul p {
  color: darkslategrey;
  margin: 0 20px 20px 0;
}
/* line 416, css.scss */
#results ul img {
  float: left;
  max-width: 200px;
  min-width: 120px;
  width: 20%;
  background-color: darkgray;
  margin: 0 20px 20px 0;
  box-shadow: 2px 2px 5px grey;
}
/* line 424, css.scss */
#results ul img:hover {
  cursor: pointer;
}
/* line 428, css.scss */
#results ul .shop-options {
  width: 50%;
  float: right;
}
/* line 432, css.scss */
#results ul button {
  float: right;
  padding: 0 .5em;
  line-height: 2em;
  border: solid grey 1px;
  background-color: lightgrey;
  color: grey;
  font-size: 1em;
  border-radius: 5px;
  margin: 0 0 20px 20px;
}
/* line 443, css.scss */
#results ul button.avail {
  border: solid green 1px;
  background-color: darkseagreen;
  color: darkgreen;
  border-radius: 5px;
}
/* line 448, css.scss */
#results ul button.avail:hover {
  color: white;
  background-color: green;
  cursor: pointer;
}
/* line 454, css.scss */
#results ul select {
  background-color: white;
  height: 3em;
  color: black;
  width: 70%;
  max-width: 100px;
  margin: 0 0 5px 2%;
}
/* line 462, css.scss */
#results ul .colors {
  float: right;
  text-transform: capitalize;
}
/* line 466, css.scss */
#results ul .sizes {
  float: right;
  text-transform: uppercase;
}
/* line 470, css.scss */
#results ul .discription {
  width: 76%;
  clear: right;
  float: right;
  text-align: left;
}

@media screen and (max-width: 800px) {
  /* line 479, css.scss */
  #page {
    margin: 0 auto 0;
  }

  /* line 483, css.scss */
  .content .text div:nth-child(odd), #contact-content .text div:nth-child(odd) {
    width: 100%;
    float: none;
  }
  /* line 487, css.scss */
  .content .text div:nth-child(even), #contact-content .text div:nth-child(even) {
    width: 100%;
    float: none;
  }

  /* line 492, css.scss */
  input[type=text] {
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 496, css.scss */
  select {
    width: 100%;
    margin-bottom: 10px;
    clear: both;
  }

  /* line 501, css.scss */
  input[type=submit] {
    width: 50%;
  }

  /* line 504, css.scss */
  nav {
    font-size: .8em;
  }

  /* line 508, css.scss */
  #results ul h1 {
    clear: both;
  }
  /* line 511, css.scss */
  #results ul .discription {
    clear: both;
    width: 100%;
  }
}
