/* line 48, css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 54, css.scss */
ul {
  list-style: none;
}

/* line 57, css.scss */
div {
  position: relative;
}

/* line 60, css.scss */
img {
  display: inline-block;
  border: 0;
  outline: none;
}

/* line 65, css.scss */
a {
  display: inline-block;
}

/* line 68, css.scss */
a img {
  border: 0;
}

/* line 71, css.scss */
a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/* line 74, css.scss */
h1, h2, h3 {
  font-weight: 400;
}

/* line 77, css.scss */
body {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background: url("../images/grid-big.png") repeat #203049;
}

/* line 83, css.scss */
#page {
  width: 100%;
  max-width: 1150px;
  min-width: 200px;
  overflow: hidden;
  margin: 10px auto 0;
  box-shadow: 0 0 10px black;
  background-color: #dddddd;
}

/* line 92, css.scss */
header {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: linear-gradient(#444444, #aaaaaa);
}
/* line 97, css.scss */
header a {
  width: 60%;
  max-width: 370px;
}
/* line 101, css.scss */
header img {
  display: inline-block;
  width: 100%;
  margin: 20px 0 0;
}

/* line 108, css.scss */
nav {
  width: 100%;
  color: white;
  box-shadow: 0 2px 5px black;
  font-size: 1em;
  background: url("../images/gel-btn.png") repeat-x #a83aab;
}
/* line 114, css.scss */
nav ul {
  list-style: none;
}
/* line 116, css.scss */
nav ul li {
  width: 20%;
  display: inline-block;
}
/* line 119, css.scss */
nav ul li a {
  width: 100%;
  text-align: center;
  color: white;
  line-height: 40px;
}
/* line 124, css.scss */
nav ul li a:hover {
  background: url("../images/gel-btn.png") repeat-x #46922a;
}
/* line 128, css.scss */
nav ul li .selected {
  background: url("../images/gel-btn.png") repeat-x #2ba0f9;
}

/* line 134, css.scss */
content {
  display: block;
  overflow: hidden;
  min-height: 200px;
  margin: 2%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
/* line 142, css.scss */
content img.main {
  width: 100%;
}
/* line 146, css.scss */
content .text div {
  text-align: left;
  display: inline-block;
  color: darkslategrey;
}
/* line 150, css.scss */
content .text div h2 {
  color: #46922a;
  margin-bottom: 10px;
}
/* line 155, css.scss */
content .text div {
  padding: 0 2%;
  margin-bottom: 5%;
}
/* line 158, css.scss */
content .text div:nth-child(odd) {
  clear: both;
  width: 50%;
  float: left;
}
/* line 163, css.scss */
content .text div:nth-child(even) {
  width: 50%;
  float: right;
}
/* line 169, css.scss */
content .shopping {
  padding: 2%;
}
/* line 172, css.scss */
content .needsText:after {
  content: "Lorem ipsum dolor sit amet, te consetetur inciderint theophrastus qui, quo hinc inani affert no. Nullam denique incorrupte sed ea. Vel at eros noluisse laboramus, no paulo choro soleat qui, appetere dignissim gubergren at sit. Mea id debet indoctum. Ne ferri simul pro. Paulo veritus accumsan ne his, te cibo dissentias scripserit sea, diam omnes sit ei.";
}
/* line 175, css.scss */
content .needsTitle:after {
  content: "Lorem Ipsom Dolar";
}

/* line 179, css.scss */
footer {
  display: block;
  text-align: right;
  font-size: .7em;
  padding: 10px 40px;
  background: linear-gradient(#46922a, #003300);
  color: white;
}
/* line 186, css.scss */
footer a {
  color: white;
}
/* line 188, css.scss */
footer a:hover {
  text-decoration: underline;
}

/**************************
    SOCNET [SAVE for LATER]
***************************
            #socnet {
            float: right;
            height: $gutter*2;
            font-size: 14px;
            text-align: right;
            h4 {
                display: inline-block;
                line-height: $gutter*2;
                vertical-align: top;
                color: white;
                font-weight: 400;
            }
            a {
                width: $soc-size;
                height: $soc-size;
                border-radius: $soc-size/2;
                margin: 5px 0 0 4px;
                background: url("../images/socnet-sprite.png") no-repeat $aluminum;
            }
            .fb {
                background-position: 0 -1*$soc-size;
                &:hover {
                    background-position: 0 0;
                    background-color: $fb-blue;
                    border-color: $fb-blue;
                }
            }
            .tw {
                background-position: -1*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -1*$soc-size 0;
                    background-color: $tw-blue;
                    border-color: $tw-blue;
                }
            }
            .go {
                background-position: -2*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -2*$soc-size 0;
                    background-color: $go-red;
                    border-color: $go-red;
                }
            }
            .in {
                background-position: -3*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -3*$soc-size 0;
                    background-color: $in-blue;
                    border-color: $in-blue;
                }
            }
            .em {
                background-position: -4*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -4*$soc-size 0;
                    background-color: $em-neutral;
                    border-color: $em-neutral;
                }
            }
        }
**************************/
/**************************
    CONTACT PAGE
**************************/
/* line 262, css.scss */
#contact-content {
  padding-top: 40px;
}
/* line 264, css.scss */
#contact-content iframe {
  background-color: #dddddd;
}
/* line 268, css.scss */
#contact-content .text h2 {
  border-bottom: solid #46922a 1px;
}
/* line 271, css.scss */
#contact-content .text div:nth-child(odd) {
  width: 40%;
}
/* line 274, css.scss */
#contact-content .text div:nth-child(even) {
  width: 60%;
}
/* line 278, css.scss */
#contact-content ul {
  margin: 0 20% 40px;
}
/* line 281, css.scss */
#contact-content li {
  text-align: left;
  margin-bottom: 20px;
}
/* line 284, css.scss */
#contact-content li img {
  margin-right: 10px;
}
/* line 288, css.scss */
#contact-content a:hover {
  color: #d19547;
  text-decoration: underline;
}

/**************************
    SHOP PAGE
**************************/
/* line 297, css.scss */
form {
  padding: 20px;
  background-color: #dddddd;
  border-radius: 5px;
}

/* line 302, css.scss */
input[type=text] {
  color: #a83aab;
  background-color: white;
  border: solid 1px #a83aab;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin-right: 10px;
  height: 25px;
}

/* line 312, css.scss */
select {
  display: inline-block;
  color: white;
  background-color: #2ba0f9;
  line-height: 1;
  width: 25%;
  margin-right: 10px;
  padding: 5px;
  height: 25px;
}

/* line 322, css.scss */
input[type=submit] {
  border-radius: 5px;
  color: white;
  background-color: #a83aab;
  border: 0;
  padding: 5px;
  width: 15%;
  height: 25px;
}
/* line 329, css.scss */
input[type=submit]:hover {
  background-color: #2ba0f9;
  cursor: pointer;
}

/* line 335, css.scss */
#lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 343, css.scss */
#lightbox img {
  position: fixed;
  margin: 20px 10%;
  max-width: 400px;
  width: 80%;
  border: solid lightgrey 2px;
}
/* line 349, css.scss */
#lightbox img:hover {
  cursor: pointer;
}

/* line 354, css.scss */
#results {
  width: 100%;
  margin-top: 20px;
  min-height: 300px;
  padding: 20px 2%;
  border-radius: 5px;
  background-color: #dddddd;
}
/* line 361, css.scss */
#results ul {
  list-style: none;
  background-color: white;
}
/* line 364, css.scss */
#results ul li {
  padding: 20px;
  border-bottom: solid 10px #dddddd;
  clear: both;
}
/* line 368, css.scss */
#results ul li:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 374, css.scss */
#results ul h1 {
  color: #46922a;
  font-size: 1.7em;
}
/* line 378, css.scss */
#results ul h3 {
  font-weight: 400;
  color: #a83aab;
  margin-bottom: 20px;
}
/* line 382, css.scss */
#results ul h3 i {
  color: #46922a;
}
/* line 386, css.scss */
#results ul p {
  color: darkslategrey;
  margin: 0 20px 20px 0;
}
/* line 390, css.scss */
#results ul img {
  float: left;
  max-width: 200px;
  min-width: 120px;
  width: 20%;
  background-color: darkgray;
  margin: 0 20px 20px 0;
  box-shadow: 2px 2px 5px grey;
}
/* line 398, css.scss */
#results ul img:hover {
  cursor: pointer;
}
/* line 402, css.scss */
#results ul button {
  margin-bottom: 20px;
  float: right;
  padding: 5px;
  border: solid grey 1px;
  background-color: lightgrey;
  color: grey;
  font-size: 1em;
  border-radius: 5px;
}
/* line 412, css.scss */
#results ul button.avail {
  padding: 5px;
  border: solid green 1px;
  background-color: darkseagreen;
  color: darkgreen;
  border-radius: 5px;
}
/* line 418, css.scss */
#results ul button.avail:hover {
  color: white;
  background-color: green;
  cursor: pointer;
}
/* line 424, css.scss */
#results ul select {
  background-color: white;
  color: black;
  margin: 0 20px 20px 0;
}
/* line 429, css.scss */
#results ul .colors {
  float: right;
  width: 20%;
  max-width: 80px;
  text-transform: capitalize;
}
/* line 435, css.scss */
#results ul .sizes {
  float: right;
  width: 20%;
  max-width: 80px;
  text-transform: uppercase;
}
/* line 441, css.scss */
#results ul .discription {
  width: 76%;
  clear: right;
  float: right;
  text-align: left;
}

@media screen and (max-width: 800px) {
  /* line 451, css.scss */
  .content .text div:nth-child(odd), #contact-content .text div:nth-child(odd) {
    width: 100%;
    float: none;
  }
  /* line 455, css.scss */
  .content .text div:nth-child(even), #contact-content .text div:nth-child(even) {
    width: 100%;
    float: none;
  }

  /* line 460, css.scss */
  input[type=text] {
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 464, css.scss */
  select {
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 468, css.scss */
  input[type=submit] {
    width: 50%;
  }

  /* line 471, css.scss */
  nav {
    font-size: .8em;
  }

  /* line 475, css.scss */
  #results ul h1 {
    clear: both;
  }
  /* line 478, css.scss */
  #results ul .discription {
    clear: both;
    width: 100%;
  }
}
