@font-face {
  font-family: "Bebas bold";
  src: url("fonts/BebasNeue Bold.otf");
}

@font-face {
  font-family: "Helvsub reg";
  src: url("fonts/Roboto-light.ttf");
}

@font-face {
  font-family: "Helvsub bld";
  src: url("fonts/RobotoCondensed-Bold.ttf");
}
body {
    padding: 0;
    margin: 0;
    font-family: "Helvsub reg";
}
div {
    padding: 0;
    margin: 0;
}
#teamSection {
    text-align: center;
    background-color: #e3f6f7;
    background-repeat: repeat-x;
    background-position: bottom left;
    padding-top: 50px;
}
#teamWidget {
    margin: 50px 0;
    display: inline-block;
    width: 90%;
    font-size: 0;
}
.headliner {
    display: block;
    margin: 0 auto;
}
#teamWidget .teamMember {
    font-size: 16px;
    border-right: 1px solid #8bd1d5;
    border-bottom: 1px solid #8bd1d5;
    display:inline-block;
    padding: 50px 0;
    margin-bottom: -1px;
    position: relative;
}
#teamWidget .teamMember:hover {
    cursor: pointer;
}
#teamWidget .teamMember img.tail {
    position: absolute;
    display: inline-block;
    width: 10%;
    height: 13px;
    bottom: 0;
    left: 45%;
    opacity: 0;
    z-index: 500;
}
#teamWidget .teamMember img.face {
    width: 60%;
    max-width: 211px;
    border-radius: 50%;
    border: solid white 2px;
}
#teamWidget .teamMember h3 {
    font-family: "Bebas bold";
    color: #00a0b0;
    font-size: 1.8em;
    margin: 20px 0 0;
    text-transform: uppercase;
}
#teamWidget .teamMember p {
    margin: 0;
    color: #666;
}
#teamWidget .info-container {
    display: none;
}
#teamWidget .four-col {
    width: 24%;
    
}
#teamWidget .three-col {
    width: 32%;
}
#teamWidget .two-col {
    width: 48%;
}
#teamWidget .one-col {
    width: 96%;
}
#teamWidget .last-member {
    border-right: none;
}

#teamWidget .selected-person {
    background-color: white;
}
.info-holder {
    position: relative;
    font-size: 12px;
    z-index: 100;
    display: inline-block;
    height: 0px;
    width: 96%;
    border-bottom: 1px solid #8bd1d5;
    margin: 0;
    overflow: hidden;
}
.contact-container {
    float: right;
    width: 25%;
    padding: 0;
    margin: 50px 0 0;
    text-align: left;
}
.contact-container>*{
    display: block;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
}
.info-holder .discription {
    float: left;
    text-align: left;
    width: 70%;
    display: inline-block;
    padding: 0;
    margin: 50px 0 0;
}
@media screen and (max-width: 700px) {
    .info-holder .discription, .contact-container {
        float: none;
        width: 100%;
    }
    .info-holder .discription {
        margin: 25px 0;
    }
    .contact-container {
        margin: 0;
    }
}





















