@font-face {
    font-family: "BebasNeue";
    src: url("BebasNeue Bold.otf");
}
body {
    overflow: auto;
}
#conversationSection div:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
#conversationSection a {
    display: inline;
    clear: none;
}
#conversationSection a:hover {
    text-decoration: underline;
}
#conversationSection h1 {
    text-align: center;
    font-family: "BebasNeue", Helvetica, sans-serif;
    font-size: 3.2em;
    color: #424242;
}
#conversationSection section {
    display: block;
    padding: 50px 0;
    text-align: center;
}
#conversationSection .white {
    height: 800px;
}
#conversationSection .white:first-child {
    height: 200px;
}
#conversationSection .widget {
    background-color: #58cdd7;
}
#conversationSection .QandA {
    margin-top: 40px;
    width: 100%;
    display: table;
}
#conversationSection .QandA i {
    display: inline-block;
}
#conversationSection .widget p {
    text-align: left;
}
#conversationSection .QandA > div {
    display: table-cell;
    display: inline-block;
    vertical-align: top;
    border-right: solid white 1px;
    width: 32%;
    height: 100%;
    padding: 0 40px 40px;
}
#conversationSection .QandA > div:last-child {
    border-right: none;
}
@media screen and (max-width: 960px) {
    #conversationSection .QandA > div {
        width: 100%;
        border-right: none;
        border-bottom: solid white 1px;
        margin-top: 40px;
    }
    #conversationSection .QandA > div:last-child {
        border: none;
    }
}
#conversationSection .me-asks, 
#conversationSection .umpqua-answers {
    display: inline-block;
    position: relative;
    padding: 20px;
    max-width: 80%;
    
}
#conversationSection .me-asks {
    background-color: white;
    border-radius: 20px 20px 20px 0;
    float: left;
/*    box-shadow: -4px 8px 6px -4px rgba(0,0,0,.4) inset;*/
}
#conversationSection .me-asks:hover {
    cursor: pointer;
}
#conversationSection .umpqua-answers {
    background-color: #00a0b0;
    border-radius: 20px 20px 0 20px;
    float: right;
    clear: both;
    color: white;
    margin-top: 20px;
    display: none;
    bottom: 0;
/*    box-shadow: 4px 8px 6px -4px rgba(0,0,0,.4) inset;*/
}
#conversationSection .umpqua-answers a,
#conversationSection .me-asks a {
    color: #58cdd7;
}
#conversationSection .umpqua-answers a:hover, 
#conversationSection .me-asks a:hover {
    text-decoration: underline;
    color: #58cdd7;
}
#conversationSection .me-asks p, 
#conversationSection .umpqua-answers p {
    padding: 0;
    margin: 0;
}
#conversationSection .bubble-tail {
    box-sizing:border-box;
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 16px;
    bottom: 0;
    border-style: solid;
    border-color: transparent;
    border-top-width: 8px;
    border-left-width: 4px;
    border-bottom-width: 8px;
    border-right-width: 4px;
}
#conversationSection .me-asks .bubble-tail {
    left: -7px;
    border-bottom-color: white;
    border-right-color: white;
}
#conversationSection .umpqua-answers .bubble-tail {
    right: -7px;
    border-bottom-color: #00a0b0;
    border-left-color: #00a0b0;
}
