$ cat .gitignore

# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
assets/
assets/*

heretics/assets/
heretics/assets/*

_BrandonIllustrations/
_BrandonIllustrations/*

_BrandonTestImages/
_BrandonTestImages/*

Mongoose.app

.sass-cache/
.sass-cache/*

heretics/.sass-cache/
heretics/.sass-cache/*

portfolio/.sass-cache/
portfolio/.sass-cache/*

resume/.sass-cache/
resume/.sass-cache/*

brandongaiusogle/.sass-cache/
brandongaiusogle/.sass-cache/*