/*************************************************
    UMPQUA DEFAULTS and CLEAR BROWSER/BOOTSTRAP STYLES
*************************************************/

body {
    background-color: $sky;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: $p;
    color: black;
    height: 100%;
    overflow: scroll;
}
nav.insider {
    position: relative;
    z-index: 105;
    background-color: white;
    box-shadow: 0 8px 8px rgba(0,0,0,.3);
    min-height: $dash-height;
    ul {
        list-style: none;
        margin-bottom: -3px;
    }
}
ul {
    list-style: none;
}
nav.insider li, header li {
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: inherit;
    }
    &:focus {
        text-decoration: underline;
        cursor: pointer;
        color: inherit;
    }
    &:active {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
    }
}
p {
    text-align: left;
}
.insider-trunk {
    max-width: $full-width;
    margin: 0 auto;
    text-align: center;
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
img.responsive-img {
    display: inline-block;
    width: 90%;
    height: auto;
    margin: 5%;
}
