/*************************************************
    FILLER
*************************************************/
#code:empty:after {
    content: "1234";
}
p:empty:after {
    content: "We don't have to be committed. We are just playing here. You can create beautiful things - but you have to see them in your mind first. Almost everything is going to happen for you automatically - you don't have to spend any time working or worrying. It is a lot of fun. I'm sort of a softy, I couldn't shoot Bambi except with a camera.";
}
h1:empty:after, h2:empty:after, h3:empty:after, h4:empty:after, h5:empty:after {
    content: "Lorem Ipsom Dolor Somit";
}