/*************************************************
    FOOTER
*************************************************/
footer {
    margin-top: $bleed;
    background-color: white;
    display: block;
    min-height: 50px;
    padding: $bleed*2;
    text-align: center;
    .container {
        display: inline-block;
        width: 100%;
        >div {
            margin-bottom: $bleed*2;
        }
    }
    h1, h2, h3, h4, h5 {
        text-align: left;
        font-weight: 800;
        margin-top: $bleed*2;
    }
    p {
        margin: 0;
    }
}
@media ( max-width: $bootbreak-lg ) {
    footer {
        *, h1, h2, h3, h4, h5 {
            text-align: center;
        }
    }
}