/********************************************
    THEMES
*********************************************/
.teal-theme, .green-theme, .orange-theme, .white-theme {
    h1, h2, h3 {
        &:not(.orange-ribbon .no-padding) {
            padding: $bleed $bleed/2 !important;
            
        }
        &:not(.thin .condensed .condensed-light .regular){
            font-family: $hl !important;
        }
    }
    h4, h5 {
        &:not(.orange-ribbon .no-padding) {
            padding: $bleed $bleed 0 !important;
        }
        &:not(.thin .condensed .condensed-light .regular){
            font-family: $hc !important;
        }
    }
    .inner-content {
        margin: $bleed/2 !important;
        &:after {
            content: "";
            display: table;
            height: 0;
            clear: both;
        }
    }
}
.teal-theme {
    background-color: $teal !important;
    .inner-content {
        background-color: $blue !important;
    }
    h1, h2, h3 {
        &:not(.orange-ribbon) {
            color: white !important;
        }
    }
    h4, h5 {
        &:not(.orange-ribbon) {
            color: $dark-teal !important;
        }
    }
}
.green-theme {
    background-color: $pea-green !important;
    .inner-content {
        background-color: $pale-chartreuse !important;
    }
    h1, h2, h3 {
        &:not(.orange-ribbon) {
            color: white !important;
        }
    }
    h4, h5 {
        &:not(.orange-ribbon) {
            color: $dark-teal !important;
        }
    }
}
.orange-theme {
    background-color: $light-orange !important;
    .inner-content {
        background-color: $beige !important;
    }
    h1, h2, h3 {
        &:not(.orange-ribbon) {
            color: $beige !important;
        }        
    }
    h4, h5 {
        &:not(.orange-ribbon) {
            color: $orange !important;
        }
    }
}
.white-theme {
    background-color: white !important;
    h1, h2, h3 {
        &:not(.orange-ribbon) {
            color: $aqua !important;
        }
    }
    h4, h5 {
        &:not(.orange-ribbon) {
            color: $dark-teal !important;
        }
    }
    a {
        color: $teal !important;
    }
}

.dash-orange {
    background-color: $light-orange !important;
    .orange-btn, .green-btn {
        margin: $bleed $bleed $bleed 0;
    }
    .dash-content {
        background-color: $beige;
        padding: 0;
        &:after {
            content: "";
            display: table;
            height: 0;
            clear: both;
        }
    }
    h4 {
        background-color: $light-orange;
        color: white !important;
    }
}
.dash-green {
    background-color: white !important;
    padding: 0 !important;
    .dash-content {
        background-color: white;
        padding: 0;
        &:after {
            content: "";
            display: table;
            height: 0;
            clear: both;
            margin-top: $bleed*2;
        }
    }
    h4 {
        background-color: $pea-green !important;
        color: white !important;
    }
}



















