//--------------------------------------
// VARIABLIZE
//--------------------------------------
$body-font: "Quicksand", 'Century Gothic', sans-serif;
$title-font: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
$gutter: 3%; 
$bleed: 10px;
$corners: 5px;

// -> NAV OFFSETS
$evens-sides: 5px;
$evens-push: 8px;
$evens-pull: 10px - $evens-push;
$odds-push: 16px;
$odds-pull: $odds-push - 20px;
// -> NAV LI Size
$li-size: 40px;
$a-size: 30px;
 
$green: #5c9149;
$purple: #301f3a;

$main-color: #5A9245;
$alt-color: #301F3A;
$accent-color: #E5EEC7;
$neutral-color: #5C5948;
$dark-color: #436337;
$in-blue: #1779b3;
 
$lorem: "Lorem ipsum dolor sit amet, te consetetur inciderint theophrastus qui, quo hinc inani affert no. Nullam denique incorrupte sed ea. Vel at eros noluisse laboramus, no paulo choro soleat qui, appetere dignissim gubergren at sit. Mea id debet indoctum. Ne ferri simul pro. Paulo veritus accumsan ne his, te cibo dissentias scripserit sea, diam omnes sit ei.";

//--------------------------------------
// STANDARDIZE
//--------------------------------------
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
div, content, nav {
    position: relative;
    display: inline-block;
}
img {
    display: inline-block;
    border: 0;
    outline: none; 
}
a {
    display: inline-block;
}
a img {
    border: 0; 
}
a, a:hover, a:visited, a:active {
    text-decoration: none; 
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    height: 500%;
    font-family: $body-font;
    text-align: center;
}
.need-filler:after {
    content: $lorem;
}
//--------------------------------------
// NAVAGATION
//--------------------------------------
#nav-holder {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
nav {
    margin: 10px;
    overflow: hidden; 
    top: 0;
    right: 0;
    width: $li-size;
    height: $li-size;
    border-radius: $li-size/2;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,.2) ;
    background-color: rgba(60,120,70,.2);
    ul {
        position: absolute;
        top: -5px;
        left: -130px;
        height: $li-size;
        width: $li-size*7;
        margin: 5px 10px;
    }
    li {
        width: $li-size;
        height: $li-size;
        vertical-align: top;
        position: absolute;
        a {
            color: white;
            line-height: $a-size;
            width: $a-size;
            height: $a-size;
            border-radius: $a-size/2;
            font-size: .5em;
            background: url("../images/menu-icons.png") no-repeat $purple;
            background-size: 700% 200%;
            &:hover {
                color: black; 
            }
        }
        .portfolio {
            background-position: 0 -1*$a-size;
            &:hover {
                background-position: 0 0;
            }
        }
        .demoreel {
            background-position: $a-size*-1 -1*$a-size;
            &:hover {
                background-position: -$a-size 0;
            }
        }
        .resume {
            background-position: $a-size*-2 -1*$a-size;
            &:hover {
                background-position: -$a-size*2 0;
            } 
        }
        .linkedin {
            background-position: -$a-size*4 -1*$a-size;
            &:hover {
                background-position: -$a-size*4 0;
            }
        }
        .phone {
            background-position: -$a-size*5 -1*$a-size;
            &:hover {
                background-position: -$a-size*5 0;
            }
        }
        .email {
            background-position: -$a-size*6 -1*$a-size;
            &:hover {
                background-position: -$a-size*6 0;
            }
        }
        .menu {
            height: 100%;
            width: 100%;
            line-height: $li-size;
            font-size: .7em;
            margin: 0;
            border: none;
            color: white;
            border-radius: 50%;
            background-color: $green;
            background-position: $li-size*-3 0;
            &:hover {
                background-position: $li-size*-3 -1*$li-size;
                cursor: pointer;
            }
        }
        &:nth-child(1) {
            left: 0;
            a {
                margin: 5px 10px 5px 0;
            }
        }
        &:nth-child(2) {
            left: $li-size;
            a {
                margin: 5px 10px 5px 0;
            }
        }
        &:nth-child(3) {
            left: $li-size*2;
            a {
                margin: 5px 10px 5px 0;
            }
        }
        &:nth-child(4) {
            left: $li-size*3;
            z-index: 1001;
        }
        &:nth-child(5) {
            left: $li-size*4;
            a {
                margin: 5px 0 5px 10px;
            }
        }
        &:nth-child(6) {
            left: $li-size*5;
            a {
                margin: 5px 0 5px 10px;
            }
        }
        &:nth-child(7) {
            left: $li-size*6;
            a {
                margin: 5px 0 5px 10px;
            }
        }
    }
}
//--------------------------------------
// Illustrations
//--------------------------------------

.illustration {
    display: block;
    max-height: 400px;
    max-width: 400px;
    width: 50vh;
    height: 50vh;
    margin: 10vh;
    overflow: hidden; 
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 1200%;
    }
    .thankyou {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300%;
    }
    .temp {
        width: 100%;
        height: 100%;
    }
}
#one .illustration {
    background: url("../images/HelloWorld_shadow.png") no-repeat;
    background-size: 100% 100%;
}
#two .illustration {
    background: url("../images/GoodSign_shadow.png") no-repeat;
    background-size: 100% 100%;
}
#three .illustration {
    background: url("../images/History_shadow.png") no-repeat;
    background-size: 100% 100%;
}
#four .illustration {
    background: url("../images/Laziness_shadow.png") no-repeat;
    background-size: 100% 100%;
}
#five .illustration {
    background: url("../images/RootSTEM_shadow.png") no-repeat;
    background-size: 100% 100%;
}
#six .illustration {
    background: url("../images/Leadership_shadow.png") no-repeat;
    background-size: 100% 100%;
}
#seven .illustration {
    background: url("../images/ThankYou_shadow.png") no-repeat;
    background-size: 100% 100%;
}    
//--------------------------------------
// PAGE CONTENT
//--------------------------------------
content {
    width: 100%;
}
.section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    left: 0;
    text-align: right;
    .container {
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 3% 3% 100px;
        text-align: center;
        max-height: 74vh;
        width: 47%;
        display: inline-block;
        background-color: rgba(255,255,255,.7);
        border: solid $green 2px;
        border-radius: $li-size/2;
        padding: 3% 3% 1%;
        box-shadow: 0 15px 20px -10px rgba(0,0,0,.3) ;
    }
    h1 {
        text-align: left;
        font-weight: 300;
        font-size: 1.5em;
        color: $green;
    }
    p {
        font-size: .9em;
        padding: 3% 0;
        text-align: left;
    }
    .needs-filler:after {
        content: $lorem;
    }
    .jumpdown {
        background: url("../images/down-arrow.png") no-repeat;
    }
    .jumpup {
        background: url("../images/up-arrow.png") no-repeat;
    }
    .jumpdown, .jumpup {
        margin-bottom: 3%;
        width: 56.5px;
        height: 20px;
        background-size: 100% 200%;
        &:hover {
            background-position: bottom;
        }
    }
}
#one {
    background-image: 
        radial-gradient( ellipse 100% 200% at top, rgba(255,255,255,.4), rgba(255,255,255,0) ),
        url("../images/cross.png"),
        linear-gradient( 135deg, $purple, black )
    ;
    background-size: cover, 10px 10px, cover, cover;
}
#two {
    background-image: 
        radial-gradient( ellipse 100% 200% at top, rgba(255,255,255,.4), rgba(255,255,255,0) ),
        url("../images/dots.png"),
        linear-gradient( 135deg, $green, #003300 )
    ;
    background-size: cover, 10px 10px, cover, cover;
    .container {
        border-color: $purple;
        h1 {
            color: $purple;
        }
        .jumpdown {
            background-position: bottom;
            &:hover {
                background-position: top;
            }
        }
    }
}
#three {
    background-image: 
        radial-gradient( ellipse 100% 200% at top, rgba(255,255,255,.4), rgba(255,255,255,0) ),
        url("../images/hex.png"),
        linear-gradient( 135deg, #330033, $purple )
    ;
    background-size: cover, 10px 10px, cover, cover;
}
#four {
    background-image: 
        radial-gradient( ellipse 100% 200% at top, rgba(255,255,255,.4), rgba(255,255,255,0) ),
        url("../images/waves2.png"),
        linear-gradient( 135deg, $green, black )
    ;
    background-size: cover, 10px 10px, cover, cover;
    .container {
        border-color: $purple;
        h1 {
            color: $purple;
        }
        .jumpdown {
            background-position: bottom;
            &:hover {
                background-position: top;
            }
        }
    }
}
#five {
    background-image: 
        radial-gradient( ellipse 100% 200% at top, rgba(255,255,255,.4), rgba(255,255,255,0) ),
        url("../images/grid.png"),
        linear-gradient( 135deg, darkslategray, black, $purple )
    ;
    background-size: cover, 10px 10px, cover, cover;
}
#six {
    background-image: 
        radial-gradient( ellipse 100% 200% at top, rgba(255,255,255,.4), rgba(255,255,255,0) ),
        url("../images/diagnal.png"),
        linear-gradient( 135deg, forestgreen, #669966, $green )
    ;
    background-size: cover, 10px 10px, cover, cover;
    .container {
        border-color: $purple;
        h1 {
            color: $purple;
        }
        .jumpdown {
            background-position: bottom;
            &:hover {
                background-position: top;
            }
        }
    }
}
#seven {
    background-image: 
        radial-gradient( ellipse 100% 200% at top, rgba(255,255,255,.4), rgba(255,255,255,0) ),
        url("../images/v-stripes.png"),
        linear-gradient( 135deg, #9966cc, darkslategray, $purple )
    ;
    background-size: cover, 10px 10px, cover, cover;
    ul {
        margin: 3% 6% 3%;
        li {
            width: 30%;
            margin: 0 0 3%;
            a {
                color: $purple;
                font-size: .9em;
                overflow: hidden;
                div {
                    vertical-align: middle;
                    width: $a-size;
                    height: $a-size;
                    margin: 0 auto 5px;
                    background-color: $purple;
                    display: block;
                    background: url("../images/menu-icons.png") $purple;
                    background-size: 700% 200%;
                    border-radius: 5px;
                }
                &:hover {
                    color: $green;
                    div {
                        background-color: $green;
                    }
                }
                #demo-reel {
                    background-position: $a-size*-1 -1*$a-size;
                }
                #portfolio-link {
                    background-position: $a-size*0 -1*$a-size;
                }
                #resume-link {
                    background-position: $a-size*-2 -1*$a-size;
                }
                #linked-in {
                    background-position: $a-size*-4 -1*$a-size;
                }
                #email-link {
                    background-position: $a-size*-6 -1*$a-size;
                }
                #phone-link {
                    background-position: $a-size*-5 -1*$a-size;
                }
            }
        }
    }
}
//--------------------------------------
// RESPONSIVE CSS
//--------------------------------------

@media screen and (max-width: 800px) {
    .section {
        .container {
            width: 94%;
            padding: 2% 2% 1%;
        }
        h1 {
            font-weight: 400;
            font-size: 1.3em;
        }
        p {
            padding: 2% 0;
        }
    }
    #seven {
        ul {
            li {
                width: 15%;
                a {
                    font-size: .7em;
                    line-height: 2em;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .section {
        .container {
            width: 94%;
            margin: 3% 3% 80px;
        }
        h1 {
            font-size: 1.2em;
            font-weight: 400;
        }
        p {
            line-height: 1em;
        }
    }
    #seven {
        ul {
            li a {
                height: $a-size;
                font-size: 0em;
            }
        }
    }
}
@media screen and (max-height: 550px) {
    .illustration {
        margin: 50px;
        width: 30vh;
        height: 30vh;
    }
    #seven {
        ul {
            li {
                width: 15%;
                a {
                    font-size: .7em;
                }
            }
        }
    }
}
@media screen and (max-height: 350px) {
    .section {
        .container {
            width: 94%;
            padding: 1% 3%;
        }
        .illustration {
            display: none;
        }
        h1 {
            font-size: 1em;
        }
        p {
            padding: 1% 0;
            font-size: .95em;
        }
    }
    #seven {
        ul {
            li {
                width: 10%;
                a {
                    font-size: .5em;
                }
            }
        }
    }
}