body {
    font-family: helvetica, sans-serif;
    font-weight: 800;
    background-color: black;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    text-align: center;
    overflow: hidden;
}
ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}
nav ul a {
    display: inline-block;
    margin: 1em;
    height: 1em;
    color: white;
    text-decoration: none;
}
#menu {
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}
#floating-menu {
    position: fixed;
    width: 100%;
    background-color: #afbc22;
}
.menu-btn {
    font-size: 1em;
    display: inline-block;
    padding: .8em .5em .4em;
    cursor: pointer;
}
.menu-btn span {
    line-height: 1em;
    font-size: 1em;
    vertical-align: top;
}
#menu .menu-btn span {
    color: white;
}
#menu .menu-btn:hover span {
    color: #2cc1cd;
}
#floating-menu .menu-btn span {
    color: white;
}
#floating-menu .menu-btn:hover span {
    color: black;
}
.menu-btn:hover .hamburger {
    background-position-x: right;
}
.hamburger {
    vertical-align: top;
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: 200% 1000%;
    background-position-y: 0%;
    background-position-x: left;
}
#menu .hamburger {
    background-image: url(../img/hamburgerSprite.png);
}
#floating-menu .hamburger {
    background-image: url(../img/hamburgerSpriteFloat.png);
}
.menu-spacer {
    display: block;
}
.first.menu-spacer {
    height: 1.5em;
}
.last.menu-spacer:last-child {
    height: 3em;
}
#menu ul a {
    color: white;
}
#menu ul a:hover {
    color: #2cc1cd;
}
#floating-menu ul a {
    color: white;
}
#floating-menu ul a:hover {
    color: black;
}
nav ul span {
    display: inline-block;
    width: 50%;
    border-bottom: solid white 1px;
}

nav ul span {
    display: inline-block;
    width: 50%;
    border-bottom: solid white 1px;
}


.filler {
    height: 4em;
}
.filler:nth-child(even) {
    background-color: dimgrey;
}
.filler:nth-child(odd) {
    background-color: slategrey;
}