body {
    background-color: antiquewhite;
}
h1 {
    text-transform: capitalize;
}
p {
    font-size: 1em;
    line-height: 1.2em;
}
p:first-letter {
    text-transform: capitalize;
    float: left;
    color: orange;
    font-size: 1.6em;
    line-height: .85em;
    width: 20px;
    background-color: darkred;
    border: solid .1em darkred;
    margin: .1em 5px 0 0;
    padding: .1em .2em;
    box-shadow: 0 0 0 1px orange inset, 0 0 10px black inset;
    text-shadow: 0 0 10px black;
}