
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: "Helvetica Neue Light";
    src: url("/fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format('woff');
}

@font-face {
    font-family: "55 Helvetica Roman";
    src: url("/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format('woff');
}

@font-face {
    font-family: "75 Helvetica Bold";
    src: url("/fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format('woff');
}
@font-face {
    font-family: "Knockout 48 A";
    src: url("/fonts/Knockout-48.otf") format('opentype');
}
@font-face {
    font-family: "Knockout 48 B";
    src: url("/fonts/Knockout-48.otf") format('opentype');
}
@font-face {
    font-family: "BebasNeue Bold";
	src: url("/fonts/BebasNeue Bold.otf") format('opentype');
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {

    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-family: "55 Helvetica Roman", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    color: #424242;
    background-color: #ffffff;
}
/*
    Video Player Modal
*/
#videoModal {
    position: absolute;
    display:none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    text-align: center;
}
#videoModalContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
#videoModalContainer>span {
    position: relative;
    display: inline-block;
    height:100%;
    max-height: 100%;
    width: 0;
    line-height: 100%;
    top:0;
    left:0;
    vertical-align: middle;
}
#videoBox {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 80%;
    max-width: 1920px;
    text-align: right;
    background-color: #191919;
    vertical-align: middle;
    font-size: .7em;
    line-height: 1.2em;
    padding: 1em;
    margin: 3% 0;
    box-shadow: 0 0 40px rgba(0,0,0,.8);
}
#video {
    width: 100%;
}
#videoBox a {
    display: inline-block;
    padding: 5px 20px;
    margin-right: -1em;
    border-radius: 20px;
    background-color: #191919;
    color: white;
}
#videoBox a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #2cc1cd;
}

/*
 * Leave Umpqua Site Modal
 */

.leaveUmpquaModel {
    position: absolute;
    display:none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    text-align: center;
}
.windowModalContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.windowModalContainer>span {
    position: relative;
    display: inline-block;
    height:100%;
    max-height: 100%;
    width: 0;
    line-height: 100%;
    top:0;
    left:0;
    vertical-align: middle;
}
.leaveModalBox {
    position: relative;
    display: inline-block;
    width: 60%;
    max-width: 350px;
    text-align: left;
    background-color: white;
    vertical-align: middle;
    font-size: .7em;
    line-height: 1.2em;
    padding: 2em;
    margin: 2em 0;
    box-shadow: 0 0 40px rgba(0,0,0,.8);
}
.leaveUmpquaModel h1 {
    font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
    font-size: 1.5em;
    padding:0;
    color: #2cc1cd;
}
.leaveUmpquaModel p {
    color: #404040;
}
.leaveUmpquaModel a {
    font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
    display: inline-block;
    padding: 6px;
    color: white;
    text-align: center;
    min-width: 60px;
    font-size: 1.3em;
    margin-top: 20px;
    box-shadow: 1px 2px 0 rgba(0,0,0,.1);
    cursor: pointer;
}
.leaveUmpquaModel .dialogCancel {
    margin-right: 20px;
    background-color: #bdc3c7;
}
.leaveUmpquaModel .dialogCancel:hover {
    background-color: #666;
}
.leaveUmpquaModel .dialogOK {
    background-color: #2cc1cd; 
    text-align: left;
    padding-left: 10px;
}
.leaveUmpquaModel .dialogOK:after {
    content: ">";
    float: right;
    margin-right: 5px;
}
.leaveUmpquaModel .dialogOK:hover {
    background-color: #00a0b0;
}
/*small Biz Hero*/
.smallBizHeroContent {
    min-height: 600px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size:0;
}
    .smallBizHeroContent img {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 600px;
        min-width: 1067px;
    }
    .imageHolder {
        display: inline-block;
        text-align:center;
        width:100%;
        height: 100%;
    }
    .subtitleHolder {
        position:relative;
        margin-top: -50px;
        display: inline-block;
        width: 100%;
        height: 30px;
        text-align: right;
        z-index:20;
    }
    .bizTxtHolder {
        vertical-align: bottom !important;
        display: inline-block;
        background-color: white;
        font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', 'Helvetica Neue Light', sans-serif;
        font-size: 16px;
        padding: 2px 15px;
    }
    
#sm-biz-hero-title {
    z-index: 80;
    position: absolute;
    width:100%;
    text-align: center;
    top: 30px;
    left: 0;
    margin: 220px auto;
    color: white;
}
@media (min-width: 1300px) {
    #sm-biz-hero-title {
        margin: 270px auto;
    }
}
@media (min-width: 1500px) {
    #sm-biz-hero-title {
        margin: 330px auto;
    }
}
@media (min-width: 1700px) {
    #sm-biz-hero-title {
        margin: 390px auto;
    }
}
@media (min-width: 1900px) {
    #sm-biz-hero-title {
        margin: 450px auto;
    }
}
@media (min-width: 2100px) {
    #sm-biz-hero-title {
        margin: 550px auto;
    }
}

#small-biz-nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.slick-next, .slick-prev {
        position:absolute;
        z-index:1000;
    }
/*
    Subscribe Drop Down
*/
#subscribeSelect {
    display:inline-block;
    vertical-align: top;
    min-width: 180px;
}
#subscribeSelect #subscribe-arrow {
    display: inline-block;
    overflow: hidden;
    height: .8em;
    width: .8em;
    background-image: url(/img/subscribe-arrow.png);
    background-position: bottom;
    background-size: 100% 200%;
}
#subscribeSelect:hover #subscribe-arrow {
    background-position: top;
}
#subscribeSelect button {
    width: 100%;
    display: block;
    height: 38px;
    padding: 0 25px;
    color: #333333;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #333333;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
}
#subscribeSelect ul{
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    display: none;
    margin: -1px 0 0;
    background-color: #aee8eb;
    border: solid black 1px;
    list-style: none;
    padding: 0;
    width: 100%;
}
/*#podArrow {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    border: solid transparent 4px;
    border-left-color: black;
}
#subscribeSelect:hover #podArrow {
    border-top-color: black;
    border-left-color: transparent;
    margin: 0px 2px -2px 8px;
}*/
/*#subscribeSelect:hover ul {
    display: inline-block;
    height: auto;
}
#subscribeSelect:hover button{
    color: white;
    background-color: rgba(0, 119, 128, 1);
}*/
#subscribeSelect li {
    display: block;
    font-size: 0;
    position: relative;
    padding: 0;
    margin: 0;
    width: auto !important;
    height: auto !important;
    overflow:hidden;
}
#subscribeSelect a {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 8px 0 0px 0;
    color: black;
    font-size: 13px;
    line-height:20px;
}
#subscribeSelect a:hover {
    background-color: #d4f2f2;
}
#subscribeSelect img {
    display: none;
}
#subscribeSelect span {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
* Default IMG tag behavior to look like background-image elements
*/
.background {
    margin-bottom: -100%;
    width: 100%;
    height: 100%;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
#scrollTestContainer {
    margin: 55vh 0;
    padding: 50px;
    outline: 1px dashed orange;
}
#block {
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}
/* ==========================================================================
   Div styles
   ========================================================================== */
#heroContent{
    background: url(/img/UmpqaGrow_hero_background_small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-color: black;
    width: 100%;
    color: #fff;
    min-height: 21em;
    margin: 0;
    padding: 0 0 6.2em 0;
    height: 100%;
    background-attachment: scroll;
    position: relative;
}
/* Larger than mobile */
@media (min-width: 400px) {
    #heroContent{
        background: url(/img/UmpqaGrow_hero_background.jpg) no-repeat center center fixed;
        padding: 0 0 10.4em 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        color: #fff;
        min-height: 21em;
        margin: 0;
        height: 100%;
        background-attachment: scroll;
        position: relative;
    }
}

#backgroundHolder {
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
}

.heroHeaderDiv{
    padding-top: 5.8em;
    text-align: center;
}

@media (min-width: 640px) {
    .heroHeaderDiv{
        padding-top: 9.8em;
        text-align: center;
    }
}

.introSection {
    background-color: #ffffff;
    position: relative;
}

#introContent{
    background-color: #ffffff;
    position: relative;
    padding: 2em 0;
}

/* Larger than mobile */
@media (min-width: 1024px) {
    #introContent{
        background-color: #ffffff;
        position: relative;
        padding: 5em 0;
    }
}

#welcomeDiv {
    width: 100%;
}

#welcomeDiv1 {
    width: 100%;
    margin-left: 0;
}

/* Larger than tablet */
@media (min-width: 1024px) {
    #welcomeDiv{
        width: 48%;
    }

    #welcomeDiv1{
        width: 48%;
        margin-left: 4%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    #podCastSection{
        float: inherit;
    }
}

/*-------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------> BACKGROUND UNFINISHED
-------------------------------------------------------------------------------------------------------------------*/
#toolsContent{
    width: 100%;
    margin: 0;
    background: #58cdd7;
    background-image: url('/img/pattern.png'); /* fallback */
}

/* Larger than tablet */
@media (min-width: 900px) {
    #toolsContent{
        width: 100%;
        margin: 0;
        background: #58cdd7;
        background-image: url('/img/pattern.png'); /* fallback */
        border-bottom: 100px solid #ffffff;
    }
}

#podcastDiv1, #podcastDiv2 {
    width: 100%;
}

#podcastDiv2 {
    padding-top: 2.3em;
    margin: 0;
}

.innerPodcastDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.9em;
}

#aboutContent{
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 1.7em 0 0 0;
    background-size: cover;
    position: relative;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .innerPodcastDiv {
        width: 350px;
        margin-top: 3.3em;
    }

    #aboutContent{
        width: 100%;
        background-color: #ffffff;
        margin: 0;
        padding: 3em 0 0 0;
        background-size: cover;
        position: relative;
    }
}

.honorsHolder {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:-webkit-flex;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 1024px;
}

.smallBiz-carousel .honorsHolder div {
	height: 100%;
}
@media (min-width: 600px) {
    .honorsHolder {
        width: 90%;
    }
}
@media (min-width: 800px) {
    .honorsHolder {
        width: 80%;
    }
}

/* Larger than tablet */
@media (min-width: 900px) {
    #podcastDiv1, #podcastDiv2{
        width: 48%;
    }
    
    #toolsContent{
     height: 800px;
    }

    .innerPodcastDiv {
        margin-top: 35%;
    }

    #aboutContent{
        width: 100%;
        background-color: #ffffff;
        min-height: 1200px;
        margin: 0;
        padding: 4.2em 0 0 0;
        background-size: cover;
        position: relative;
    }
}

#ourStart {
    margin: 0 .9em 1.5em .2em;
}

#logoBarContent {
    background-color: #ffffff;
    text-align: center;
    padding-top: 1.7em;
    padding-bottom: 1.3em;
    position: relative;
}
.c-fix {
    clear: left;
    display: block;
    height: 0;
    float: none;
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    #ourStart {
        margin: 0 .9em 3em .2em;
    }

    #logoBarContent {
        padding-top: 2.7em;
        padding-bottom: 2.3em;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    #logoBarContent {
        padding-top: 4.2em;
        padding-bottom: 3.3em;
    }
}

#storyCont {
    text-align: center;
}

#storyContBody {
    display: inline-block;
    margin: 0 1.05em;
}

#speakerCarousel {
    background-color: #ffffff;
}

.speakerBoxOuterDiv {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#speakersSection {
    background: #58cdd7;
}
/*-------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------> BREAK THE MOLD
-------------------------------------------------------------------------------------------------------------------*/
#speakersContent0, #speakersContent1, #speakersContent2 {
    min-height: 0;
    width: 100%;
    background-image: url('/img/pattern-hills_v2.jpg'), -webkit-gradient(linear, left top, left bottom, from(#58cdd7), to(#48bdc7)); /* Saf4+, Chrome */
    background-image: url('/img/pattern-hills_v2.jpg'), -webkit-linear-gradient(top, #58cdd7, #48bdc7); /* Chrome 10+, Saf5.1+ */
    background-image: url('/img/pattern-hills_v2.jpg'), -moz-linear-gradient(top, #58cdd7, #48bdc7); /* FF3.6+ */
    background-image: url('/img/pattern-hills_v2.jpg'), -o-linear-gradient(top, #58cdd7, #48bdc7); /* Opera 11.10+ */
    background-image: url('/img/pattern-hills_v2.jpg'), linear-gradient(to bottom, #58cdd7, #48bdc7); /* W3C */
}


.speakersBox {
    text-align: center;
    margin: 2em 1.1em;
    background-color: #ffffff;
    padding-top: 1em;
	min-height: 550px;
}

.speakersBodyBox {
    margin: 1em 0;
    display: inline-block;
}

@media (min-width: 550px) {
    .speakersBodyBox {
        margin: 3em 2em 2em 2em;
    }

    .speakersBox {
        margin: 3.5em;
        padding-top: 1.5em;
    }
}


/* Larger than desktop */
@media (min-width: 950px) {

    #speakersContent0, #speakersContent1, #speakersContent2 {
        min-height: 800px;
        height: 100%;
        width: 100%;
        background-size: cover !important;
    }
	.slick-track  .speakersBox{
		margin-bottom: 4em;
	}
/*-------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------> BACKGROUND UNFINISHED
-------------------------------------------------------------------------------------------------------------------*/
   /* #speakersContent {
        background:url('/img/profiles/BreaktheMold_Caroline.jpg') no-repeat center center;

    }

    #speakersContent1 {
        background:url('/img/profiles/BreaktheMold_Danae.jpg') no-repeat center center;
    }

    #speakersContent2 {
        background:url('/img/profiles/BreaktheMold_Mark.jpg') no-repeat center center;
    }*/
    
    .speakersBox {
        text-align: center;
        margin: 4.3em 0 0 4em;
        background-color: #ffffff;
        border-top: 5px solid rgba(0, 119, 128, 1);
        max-width: 454px;
        max-height: 540px;
        padding-top: 48px;
    }

}

#smallBizContent{
    width: 100%;
    background-color: #ffffff;
    padding: 2.7em 0 2.5em 0;
    text-align: center;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

    #smallBizContent{
        padding: 4.7em 0 4em 0;
    }
}
/*-------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------> BACKGROUND UNFINISHED
-------------------------------------------------------------------------------------------------------------------*/
#customerQuotesContent{
    width: 100%;
    background: #e3f6f7;
    min-height: 500px;
    margin: 0;
    padding: 0 0 0 0;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2UzZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2Y2ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 14%, #e3f6f7 14%, #e3f6f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(14%,#ffffff), color-stop(14%,#e3f6f7), color-stop(100%,#e3f6f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 14%,#e3f6f7 14%,#e3f6f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 14%,#e3f6f7 14%,#e3f6f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 14%,#e3f6f7 14%,#e3f6f7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 14%,#e3f6f7 14%,#e3f6f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3f6f7',GradientType=0 ); /* IE6-8 */

}

.quotesBox {
    max-width: 740px;
    text-align: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.5em;
}

#pressLogoContent{
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    padding: 1.5em 0 1.5em 0;
}


/*-------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------> BACKGROUND UNFINISHED
-------------------------------------------------------------------------------------------------------------------*/
#productsContent{
    width: 100%;
    background: #58cdd7;
    background-image: url('/img/pattern.png'); /* fallback */
    min-height: 400px;
    margin: 0;
    padding: 3em 0 1.5em 0;
}

/* Larger than mobile */
@media (min-width: 750px) {

    #pressLogoContent{
        padding: 2.5em 0 2.5em 0;
    }
}

/* Larger than desktop */
@media (min-width: 1010px) {

    #productsContent{
        padding: 5em 0 4.2em 0;
    }

    #pressLogoContent{
        padding: 4em 0 4em 0;
    }
}

.insetBorderBox {
    width: 86%;
    min-height: 13.5em;
    color: #666666;
    text-align: left;
    background-color: #ffffff;
    display: inline-block;
    outline: 1px #2cc1cd solid;
    outline-offset: -8px;
    font-size: .6em;
    padding: 3em 2em .5em;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

/* Larger than really small */
@media (min-width: 350px) {

    .insetBorderBox {
        min-height: 13em;
    }
}

/* Larger than tablet */
@media (min-width: 550px) {

    .insetBorderBox {
        min-height: 9em;
    }
}

/* Larger than desktop */
@media (min-width: 1010px) {

    .insetBorderBox {
        min-height: 14em;
    }
}

.insetBorderBox:hover {
    background-color: #00a0b0;
    color: #ffffff;
    outline:1px #2cc1cd solid;
    outline-offset:-8px;
}

.insetBorderBox:hover > h3 {
    color: #ffffff;
}

#ctaContent {
    background-color: #ffffff;
}

#footerContent{
    width: 100%;
    background-color: #ffffff;
    min-height: 100px;
    display: inline-block;
}

/* ==========================================================================
   Header styles
   ========================================================================== */
.haiku {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    font-size: 1.34em;
    max-width: 615px;
    display: inline-block;
    margin: 0 1em .4em 1em;
}

/* Larger than mobile */
@media (min-width: 440px) {
    .haiku {
        font-size: 1.7em;
    }
}

.welcome-header {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #424242;
    font-size: 1.17em;
    padding: 0 0 .2em 1em;
    margin: auto;
}

@media (min-width: 400px) {
    .welcome-header {
        font-size: 1.2em;
        padding: 0 0 .2em 0;
    }
}

@media (min-width: 750px) {
    .welcome-header {
        font-size: 1.4em;
        padding: 0 0 .2em 0;
    }
}

.toolsHeader, .storyHdr, .storyHdr1, .ctaHeader, .productSubHeader {
    font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
    font-weight: 400;
    line-height: .9em;
    font-style: normal;
    letter-spacing: .02em;
    font-size: 1.6em;
    color: #ffffff;
    margin-bottom: .5em;
}

@media (min-width: 400px) {
    .toolsHeader, .storyHdr, .storyHdr1, .ctaHeader, .productSubHeader {
        font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
        font-weight: 400;
        line-height: .9em;
        font-style: normal;
        letter-spacing: .02em;
        font-size: 2em;
        color: #ffffff;
    }
    .productSubHeader {
        letter-spacing: 0em;
    }
}

.storyHdr {
    color: #00a0b0;
    margin: 0 0 .4em 0;
}

.storyHdr1 {
    color: #00a0b0;
    margin: 1.5em 0 .4em 0;
    text-align: left;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .storyHdr {
        color: #00a0b0;
    }

    .storyHdr1 {
        color: #00a0b0;
        margin: 2.2em 0 .7em 0;
        text-align: left;
    }
}

.ctaHeader {
    margin: 0 0 1em 0;
}



.honorsHdr {
    color: #000000;
    font-family: "75 Helvetica Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .58em;
    letter-spacing: .4px;
    margin: 0 1.5em 1.5em 1.5em;
}

/* ==========================================================================
   Text styles
   ========================================================================== */
.welcome-text {
    color: #424242;
    font-size: .58em;
    padding: 0 2.2em;
    margin: 0;
}

.introIconsTxt {
    color: #424242;
    padding-top: 0;
    display: inline-block;
    text-align: left;
    max-width: 100%;
    margin: 0;
    vertical-align: middle;
}

.toolsTitle {
    font-family: "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #333333;
    font-size: 1.17em;
    margin: 0 0 .5em 0;
}

.toolsTxt {
    color: #333333;
    font-size: .8em;
    max-width: 375px;
    margin: 0 0 2em 0;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .welcome-text {
        padding: 0;
        margin: 0;
    }

    .introIconsTxt {
        padding-top: .7em;
        max-width: 90px;
        vertical-align: bottom;
    }

    .toolsTitle {
        color: #333333;
        margin: 0 0 .6em 0;
    }

    .toolsTxt {
        font-size: .6em;
        margin: 0 0 1.5em 0;
    }
}

/* Larger than tablet */
@media (min-width: 1024px) {
    .welcome-text {
        font-size: 0.6em;
        padding-bottom: 0px;
    }

    .introIconsTxt {
        padding-top: .7em;
        margin: 0;
        max-width: 90px;
        text-align: center;
    }
}

.storyTxt, .storyTxt1, .speakerTxt {
    font-size: .67em;
}

.contStoryTxt {
    margin-bottom: 1.5em;
    max-width: 40em;
    text-align: left;
}

.speakerTxt {
    text-align: left;
    color: #424242;
    padding: 0 10px;
}

.quoteTxt, .quoteTxtLight {
    font-family: "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .74em;
    margin-bottom: 0;
}

.quoteTxtLight {
    color: #fff;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .quoteTxt, .quoteTxtLight {
        font-family: "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 1.16em;
        margin-bottom: 0;
    }
}

.quoteAreaTxt {
    font-size: .6em;
    font-weight: bold;
    margin-bottom: 2em;
}

.rightsTxt {
    font-family: "75 Helvetica Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .58em;
    margin: 2.3em 0 0 0;
}

.legalTxt {
    font-size: .58em;
    margin: 0 .5em;
}

.ctaTxt {
    color: #000000;
    font-size: .75em;
    max-width: 745px;
    display: inline-block;
    margin: 0 .7em 2.8em .7em;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .ctaTxt {
        margin: 0 .7em 4.8em .7em;
    }
}

/*.productDescTxt{
    margin: .5em 1.9em 0 1.9em;
}*/


/* ==========================================================================
   img/svg styles
   ========================================================================== */
.umpquaTreeLogo {
    display: block;
    margin: auto;
    width: 50px;
    height: 54px;
    padding-bottom: 16px;
}

.podcastImg {
    /*background: url(/img/Podcast_iphone_vertical-small.png) no-repeat center center;*/
    /*min-height: 268px;*/
    overflow: hidden;
}
#iphone-podcast {
    height: 809px;
    margin: 3px auto;
}

/* Larger than mobile */
@media (min-width: 450px) {
    .podcastImg {
        /*background: url(/img/Podcast_iphone_vertical-med.png) no-repeat center center;*/
        /*min-height: 583px;*/
    }
}

/* Larger than tablet */
@media (min-width: 900px) {
    .podcastImg {
        /*background: url(/img/Podcast_iphone_vertical.png) no-repeat center center;*/
        /*min-height: 809px;*/
    }
}

.locationDiv {
    position: relative;
}

/* https://github.com/kenwheeler/slick/issues/1107 */
/* data-lazy is removed when the src attribute is added
    hoping this does not break anything anywhere else */ 
img[data-lazy] {
    max-height: 50px;
}

.locationTxtHolder {
    position: absolute;
    padding: .1em .95em;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .02em;
    font-size: .75em;
    color: #424242;
}

.breakMoldImg{
    margin: auto;
    background: url(/img/BreaktheMold_03.png) no-repeat;
    width: 220px;
    height: 132px;
    background-size: contain;
    /*border: solid red 1px;*/
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .breakMoldImg{
        background: url(/img/BreaktheMold_03.png);
        width: 251px;
        height: 147px;
    }
}

#customerImg,
.customerImg {
    display: inline-block;
    padding-top: .7em;
}

#customerImg,
.customerImg {
    display: inline-block;
}

.customerImg {
    width: auto;
    margin: 0 auto;
    text-align: initial;
}

.ctaHouseIcon {
    display: inline-block;
    margin-left: 3.7em;
    vertical-align: baseline;
}

.lenderImg {
    vertical-align: text-top;
}

.logoSpacingFirst {
    margin: 0 .6em 0 .4em;
}

@media (min-width: 500px) {
    .logoSpacingFirst {
        margin: 0 .8em 0 .2em;
    }
}

.logoSpacing {
    margin: 0 .6em 0 0;
}

.logoSpacingLast {
    margin: 0 1em 0 0;
}

#logoBarContent .honorsHolder div:nth-child(1) { /*Fortune 100*/
	width: 12%;
	max-width: 75px; 
}
#logoBarContent .honorsHolder div:nth-child(2) { /*Forbes*/
	width: 20%;
	max-width: 150px;
	padding-top: 2%;
}
#logoBarContent .honorsHolder div:nth-child(3) { /*Most Admired*/
	width: 16%;
	max-width: 127px; 
}
#logoBarContent .honorsHolder div:nth-child(4) { /*Retail Design*/
	width: 20%;
	max-width: 145px;
	padding-top: 1%;
}

.honorsHolder img{
    width: 100%;
}
.honorsLogo1 {
    display: inline-block;
    /*background:url('/img/logos/Fortune100-logo.jpg') no-repeat center center;*/
    max-width: 70px;
    width: 8%;
    height: 51px;
    background-size: contain;
}

.honorsLogo2 {
   display: inline-block;
   /*background:url('/img/logos/forbes-best.jpg') no-repeat center center;*/
   max-width: 144px;
   width: 24%;
   height: 42px;
   margin: 0 .6em 0 0;
   background-size: contain;
}

.honorsLogo3 {
    display: inline-block;
    /*background:url('/img/logos/mostadmired-logo.png') no-repeat center center;*/
    max-width: 107px;
    width: 16%;
    height: 46px;
    background-size: contain;
}

.honorsLogo4 {
    display: inline-block;
    /*background:url('/img/logos/retail-design-institute-logo.jpg') no-repeat center center;*/
    max-width: 125px;
    width: 20%;
    height: 40px;
    background-size: contain;
}

.honorsLogo5 {
    display: inline-block;
    /*background:url('/img/logos/JP-logo.png') no-repeat center center;*/
    max-width: 57px;
    width: 8%;
    height: 57px;
    background-size: contain;
}

.speakerImgSmall0 {
    /*background:url('/img/profiles/BreaktheMold_Caroline_sm.jpg') no-repeat center center;*/
    width: 267px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
.speakerImgSmall1 {
    /*background:url('/img/profiles/BreaktheMold_Danae_sm.jpg') no-repeat center center;*/
    width: 267px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
.speakerImgSmall2 {
    /*background:url('/img/profiles/BreaktheMold_Mark_sm.jpg') no-repeat center center;*/
    width: 267px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

/* Larger than desktop */
@media (min-width: 950px) {
    .speakerImgSmall0, .speakerImgSmall1, .speakerImgSmall2 {
        display: none;
    }
}
.smallBizLogo {
    display: inline-block;
    height: 100px;
}
@media (max-width: 550px) {
    .smallBizLogo {
        margin: 10px;
    }
}
@media (max-width: 400px) {
    .smallBizLogo {
        margin: 5px;
    }
}

/*.smallBizLogo0 {
    background:url('/img/logos/Smith-Tea.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 90px;
    height: 56px;
}

.smallBizLogo1 {
    background:url('/img/logos/TEDx-Portland.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 195px;
    height: 24px;
}

.smallBizLogo2 {
    background:url('/img/logos/Sseko-logo-alternate_HR.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 79px;
    height: 55px;
}

.smallBizLogo3 {
    background:url('/img/logos/logo_rogue.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 115px;
    height: 39px;
}

.smallBizLogo4 {
    background:url('/img/logos/barista-logo.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 69px;
    height: 50px;
}

.smallBizLogo5 {
    background:url('/img/logos/1_SeattleCider.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 67px;
    height: 73px;
}

.smallBizLogo6 {
    background:url('/img/logos/2_Rapha.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 131px;
    height: 60px;
}

.smallBizLogo7 {
    background:url('/img/logos/3_Soap-Queen.png') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 90px;
    height: 67px;
}

.smallBizLogo8 {
    background:url('/img/logos/4_Smith-Brothers-Farms.jpg') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 109px;
    height: 67px;
}

.smallBizLogo9 {
    background:url('/img/logos/5_Pebblebee_BW.png') no-repeat center center;
	background-size: contain;
	display: inline-block;
    width: 68px;
    height: 68px;
}*/
#pressLogoContent .honorsHolder div {
    margin: 0;
    padding: 0;
}
#pressLogoContent .honorsHolder div img {
    margin: 0;
    padding: 0;
    width: 100%;
}
.honorsHolder a {
    display: inline-block;
}
#pressLogoContent .honorsHolder a {
    margin: 0 1%;
}
#pressLogoContent .honorsHolder a:nth-child(1) {
    width: 15%;
    max-width: 130px;
}
#pressLogoContent .honorsHolder a:nth-child(2) {
    width: 37%;
    max-width: 302px;
}
#pressLogoContent .honorsHolder a:nth-child(3) {
    width: 12%;
    max-width: 104px;
}
#pressLogoContent .honorsHolder a:nth-child(4) {
    width: 23%;
    max-width: 203px;
}
@media (min-width: 550px) {
    #pressLogoContent .honorsHolder a {
        margin: 0 3%;
    }
    #pressLogoContent .honorsHolder a:nth-child(1) {

        width: 12%;
        max-width: 130px;
    }

    #pressLogoContent .honorsHolder a:nth-child(2) {
        width: 30%;
        max-width: 302px;
    }

    #pressLogoContent .honorsHolder a:nth-child(3) {
        width: 10%;
        max-width: 104px;
    }

    #pressLogoContent .honorsHolder a:nth-child(4) {
        width: 20%;
        max-width: 203px;
    }
}

.pinImg {
     padding: 0 3px 7px 0;
 }

.phoneImg {
    padding: 0 3px 4px 0;
}

/* ==========================================================================
   CSS Drawing Styles
   ========================================================================== */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom:24px solid white;
    position: absolute;
    top: -14px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.thin_border {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}


/* Larger than tablet */
@media (min-width: 640px) {
    .thin_border {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: none;
    }
    #mainLinks li:first-child div {
        border: none;
    }
}

#line_div-first, #line_div {
    height: 1px;
    display: inline-block;
    width: 50px;
    height: 1px;
}

/* Larger than tablet */
@media (min-width: 640px) {
    #line_div-first {
        display: none;
    }

    #line_div {
        min-width: 0;
        width: 1px;
        height: 18px;
        width: 1px;
        display: inline-block;
    }
}

.quoteSpacer {
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: #00a0b0;
}

/* ==========================================================================
   Carousel Styles
   ========================================================================== */

#projects {
    height:100%;
}

#speakerCarousel > .slick-dots {
    bottom: -24px;
}
@media (max-width: 549px) {
    .smallBiz-carousel > .slick-dots {
        margin-bottom: 30px;
    }
}

#quotesCarousel > .slick-dots {
    bottom: 0px;
}

.slide {
    position: absolute;
    top:0;
    left:0;
    height: 0;
    width: 100%;
    transition: height 0.9s ease-in-out;
}

.slide:nth-child(1) { z-index:10 }
.slide:nth-child(2) { z-index:9 }
.slide:nth-child(3) { z-index:8 }

.active.slide {
    height: 100%;
}
#quotesCarousel .slick-next, #quotesCarousel .slick-next:focus {
    background:url(/img/Carousel-arrow-right-hover.png) no-repeat;
    cursor:pointer;
    border:none;
}

#quotesCarousel .slick-prev, #quotesCarousel .slick-prev:focus {
    background:url(/img/Carousel-arrow-left-hover.png) no-repeat;
    cursor:pointer;
    border:none;
}

#quotesCarousel .slick-prev:hover {
    background:url(/img/Carousel-arrow-left.png) no-repeat;
    cursor:pointer;
    border:none;
}

#quotesCarousel .slick-next:hover {
    background:url(/img/Carousel-arrow-right.png) no-repeat;
    cursor:pointer;
    border:none;
}


/* ==========================================================================
   Button/Link Styles
   ========================================================================== */
.podcastBtn {
    border: 1px solid #000000;
    background: #fff;
    max-width: 186px;
    padding: 0px 22px 0 22px;
    display: inline-block;
    height: 36px;
    margin-bottom: 10px;
}
.pin-hover, .pin-default {
    height: .9em;
    padding-right: 2px;
    vertical-align:baseline;
}
.ph-hover, .ph-default {
    height: .8em;
    padding-right: 3px;
    vertical-align:baseline;
}
/*.locationsIcon {
    background: url(/img/svg/map-pin.svg) no-repeat left center;
}*/
.locationsIcon .pin-hover {
    display: none;
}
.locationsIcon:hover .pin-hover {
    display: inline-block;
}
.locationsIcon:hover .pin-default {
    display: none;
}
.callIcon .pin-hover {
    display: none;
}
.callIcon:hover .pin-hover {
    display: inline-block;
}
.callIcon:hover .pin-default {
    display: none;
}

/*.callIcon {
    background: url(/img/svg/phone-solid.svg) no-repeat left center;
}
.callIcon .ph-hover {
    display: none;
}
.callIcon:hover .ph-hover {
    display: inline-block;
}
.callIcon:hover .ph-default {
    display: none;
}*/
.locationsBtn, .locationsBtn:focus, .callIconBtn, .callIconBtn:focus {
    width: 100%;
    display: inline-block;
    background-color: #afbc22;
    border-color: #afbc22;
    font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
    font-weight: 400;
    line-height: .9em;
    font-style: normal;
    letter-spacing: .02em;
    font-size: 1em;
    color: #ffffff;
    height: 100px;
    margin: 0;
    padding-top: 1.4em;
}
#ctaContent .button:first-child {
    border-bottom: solid white 1px;
}

.locationsBtn, .locationsBtn:focus{
    padding-top: 1.35em;
    border-bottom-color: #d7de91;
    border-right-color: #afbc22;
}
.ctaBtn, .ctaBtn:focus{
       border-right-color: #d7de91;
    border-bottom-color: #afbc22;
}

.locationsBtn:hover {
    border-color: #a0ac1c;
    border-bottom-color: #d7de91;
    border-right-color: #afbc22;
    background-color: #a0ac1c;
    color: #ffffff;
}
.locationsBtn img {
	height: 22px;
}
.callIconBtn img {
	height: 22px;
}
.callIconBtn:hover {
    color: #ffffff;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .locationsBtn, .locationsBtn:focus, .callIconBtn, .callIconBtn:focus {
        min-height: 3.4em;
        width: 50%;
        display: block;
        float: left;
        font-size: 1.17em;
    }
    #ctaContent .button:first-child {
    border-bottom: none;
    border-right: solid white 1px;
}
    .locationsBtn, .locationsBtn:focus{
        border-right-color: #d7de91;
        border-bottom-color: #afbc22;
    }

    .locationsBtn:hover {
        border-color: #a0ac1c;
        border-right-color: #d7de91;
        border-bottom-color: #afbc22;
        background-color: #a0ac1c;
        color: #ffffff;
    }
}
@media screen and (orientation:landscape) {
    .locationsBtn, .locationsBtn:focus, .callIconBtn, .callIconBtn:focus {
        letter-spacing: 0em;
        font-size: .9em;
        line-height: 1.7em;
    }
}
.callIconBtn:hover {
    background-color: #a0ac1c;
    border-color: #a0ac1c;
}

.playIcon {
    color: #2cc1cd;
    font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
    font-weight: 400;
    font-size: 22px;
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
    display: block;
}

.playIcon:hover {
    color: #ffffff;
}


/*.house {
    background-image: url('/img/svg/house.svg');
    background-repeat: no-repeat;
    background-position: 1.9em 2.95em;
}

.house:hover {
    background-image: url('/img/svg/house-hover.svg');
}

.case {
    background-image: url('/img/svg/suitcase-blue.svg');
    background-repeat: no-repeat;
    background-position: 1.8em 3.3em;
}

.case:hover {
    background-image: url('/img/svg/suitcase-hover.svg');
}

.chart {
    background-image: url('/img/svg/chart.svg');
    background-size: 35px 31px;
    background-repeat: no-repeat;
    background-position: 1.8em 3.45em;
}

.chart:hover {
    background-image: url('/img/svg/chart-hover.svg');
}*/
#productDiv0 img, #productDiv1 img, #productDiv2 img {
    height: 2.3em;
    vertical-align: top;
    float: left;
    margin-right: 2%;
}
#productDiv0, #productDiv1, #productDiv2 {
    width: 92%;
    margin: 0 0 1em 0;
}
img.house-hover {
    display: none;
}
img.house-hover {
    display: inline-block;
}
img.house-default {
    display: none;
}
img.case-hover {
    display: none;
}
img.case-hover {
    display: inline-block;
}
img.case-default {
    display: none;
}
img.chart-hover {
    display: none;
}
img.chart-hover {
    display: inline-block;
}
img.chart-default {
    display: none;
}

/* Larger than mobile */
@media (min-width: 1010px) {
    #productDiv0, #productDiv1,#productDiv2 {
        width: 25%;
        margin-right: 4%;
    }
    #productDiv1,#productDiv2 {
        margin-left: 4%;
    }
}

.productSubHeader {
    line-height: 1.2em;
    color: #2cc1cd;
    font-size: 1.95em;
    display: inline-block;
    width: 80%;
}
.productSubHeader span {
    padding-left: 4px;
}
.productSubHeader span::after {
    content: ">";
}

#footerLogoList img {
    height: 25px;
}
#facebook-logo .fb-hover {
    display: none;
}
#facebook-logo:hover .fb-hover {
    display: inline-block;
}
#facebook-logo:hover .fb-default {
    display: none;
}

#twitter-logo .tw-hover {
    display: none;
}
#twitter-logo:hover .tw-hover {
    display: inline-block;
}
#twitter-logo:hover .tw-default {
    display: none;
}

#youtube-logo .yt-hover {
    display: none;
}
#youtube-logo:hover .yt-hover {
    display: inline-block;
}
#youtube-logo:hover .yt-default {
    display: none;
}
#facebook-logo {
    width: 22px;
    height: 46px;
    background: url(/img/svg/facebook.svg) no-repeat left center;
    /*display: block;*/
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}

#facebook-logo:hover {
    background: url(/img/svg/facebook-hover.svg) no-repeat left center;
}

#twitter-logo {
    background: url(/img/svg/twitter.svg) no-repeat left center;
    width: 40px;
    height: 30px;
    display: block;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}

#twitter-logo:hover {
    background: url(/img/svg/twitter-hover.svg) no-repeat left center;
}

#youtube-logo {
    background: url(/img/svg/youtube.svg) no-repeat left center;
    background-position-x: -30px;
    width: 81px;
    height: 22px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}*/

#youtube-logo:hover {
    /*background: url(/img/svg/youtube-hover.svg) no-repeat left center;
    background-position-x: -30px;*/
}

a.playIcon span {
    padding: 9px 44px 9px 0;
    background: url(/img/png/play-BTN.png) no-repeat right center;
}

a.playIcon span:hover {
    color: #ffffff;
    background: url(/img/png/play-BTN-hover.png) no-repeat right center;
}

/* ==========================================================================
List Styles
========================================================================== */
#mainLinks {
    position: initial;
    padding: 0;
    margin: 0 auto 0 auto;
}
#mainLinks.mainLinksHome {
    padding-top: .5em;
}

#mainLinks > li, .backIcon {
    display: block;
    font-family: 'Knockout 48 A', 'Knockout 48 B', 'BebasNeue Bold', sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: .75em;
    padding: 0;
    zoom: 1;
    *display:inline;
    text-align: center;
    /* this fix is needed for IE7- */
    line-height: .7;
}
#mainLinks > li.thin-separator {
    padding-top: .1em; 
    padding-bottom: .5em; 
}
#mainLinks > li > a, .backIcon{
    color: #ffffff;
}

#mainLinks > li > a:hover, .backIcon:hover{
    color: #2cc1cd;
}
/*-------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------> BNOT IN INDEX.HTML
-------------------------------------------------------------------------------------------------------------------*/
.backIcon {
    padding: 12px 0 0 15px;
    background: url(/img/backArrow.png) no-repeat left 14px;
    width: 135px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.backIcon:hover {
    background: url(/img/backArrow-hover.png) no-repeat left 14px;
}

/* Larger than tablet */
@media (min-width: 640px) {
    #mainLinks{
        padding: 0 .6em 0 0;
        margin: 0;
        display: inline-block;
        position: absolute;
        right: 0;
        top:0;
    }
    #mainLinks.mainLinksHome {
        padding-top: 0;
    }
    #mainLinks > li, .backIcon {
        display: inline-block;
        padding: 0 .4em 0 0;
    }
/*-------------------------------------------------------------------------------------------------------------------
    --------------------------------------------------------------------------------------> NOT IN INDEX
-------------------------------------------------------------------------------------------------------------------*/
    .backIcon {
        width: 135px;
        display: inline;
        padding:12px 0 0 15px;
        background: url(/img/backArrow.png) no-repeat left 19px;
        margin-left: 19px;
    }

    .backIcon:hover {
        background: url(/img/backArrow-hover.png) no-repeat left 19px;
    }
}

#introIcons {
    margin: auto;
    padding: .9em 0 0 1.2em;
    text-align: left;
    display: block;
    max-width: 400px;
}

/* Larger than mobile */
@media (min-width: 400px) {
    #introIcons{
        margin: auto;
        padding: .9em 0 0 0;
        text-align: center;
        display: flex;
        display:-webkit-flex;
        display:-webkit-box;
        display:-moz-flex;
        display:-moz-box;
        display:-ms-flexbox;
        display:flex;
        align-items: stretch;
        align-items: -webkit-stretch;
        align-items:-moz-stretch;
        align-items:-moz-stretch;
        align-items:-ms-stretch;
        justify-content: space-between;
        justify-content: -webkit-space-between;
        justify-content:-moz-space-between;
        justify-content:-moz-space-between;
        justify-content:-ms-space-between;
        max-width: 1024px;
    }
}

.gearIcon, .lightIcon, .coffeeIcon {
    display: inline-block;
    padding: 0 .5em 0 0;
    width: 60px;
    height: 60px;
}

@media (min-width: 1024px) {
    #introIcons{
        max-width: 450px;
        margin: auto;
        padding: 0;
        text-align: center;
    }

    .gearIcon, .lightIcon, .coffeeIcon {
        margin: auto;
        padding: .2em 0 0 0;
        display: block;
    }
}

#introIcons > li {
    display: inline-block;
    font-size: .6em;
    padding: 0 2em 2em 0;
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

/* Larger than mobile */
@media (min-width: 400px) {
    #introIcons > li {
        display: inline-block;
        font-size: .6em;
        padding: 0 2em 0 0;
        zoom:1;
        *display:inline;
        /* this fix is needed for IE7- */
    }
}

#introIcons > .lastListItem {
    padding: 0;
}

#footerLogoList {
    margin: 12px 0 35px 0;
    padding: 0;
}

#footerLogoList > li {
    display: inline-block;
    padding: 0 .2em 0;
    zoom:1;
    *display:inline;
    vertical-align: middle;
    /* this fix is needed for IE7- */
}


/*
		Location finder iframe
*/
iframe#locator {
  position: fixed;
  width: 90vw;
  height: 90vh;
  top: 5%;
  left: 5%;
  z-index: 100;
  border: 0;
  outline: 900px solid rgba(0,0,0,.8);
}

#locator-close {
  display: block;
  position: fixed;
  width: 39px;
  height: 39px;
  background: url(/img/icon-close-button.png) center center no-repeat;
  border-radius: 50%;
  top: 3%;
  right: 3%;
  z-index: 101;
  font-size: 0px;
  transition: transform 300ms ease;
}
#locator-close:hover {
  transform: scale(1.1);
}
@media (max-width: 600px) {
  
  iframe#locator {
    width: 100vw;
    height: 100vh;
    top: 30px;
    left: 0;
    
  }
  #locator-close {
    border: 1px solid #37c1cc;
    width: 100%;
    height: 30px;
    border-radius: 0;
    top: 0;
    right: 0;
    background: #37c1cc;      
    color: #ffffff;
  }
  #locator-close:hover {
    transform: none;
  }
  #locator-close:before {
    content: "\2329\00a0\00a0\00a0 Close location finder";
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    display: block;    
  }
  
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.centerTxt {
    text-align: center;
}

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.less {
	display: none;
}
.legal {
	display: none;
	color: #999;
	padding-top: 1em;
}
.showhide {
	color: #999;
	cursor: pointer;
}
.showhide:hover {
	color: #00a0b0;
}