//-------------------
// VARIABLIZE
//-------------------
$fonts-main: 'Eagle Lake', cursive;

$fonts-sub: 'Antic', ariel, sans-serif;
$logo-height: 150px;
$gutter: 25px;
$bleed: 10px;
$head-height: $gutter*2 + $logo-height;
$soc-size: 22px;
$col-width: 1000px;
$corners: 5px;

//-----COLORS--------

$red: #cf2212;
$orange: #ff9000;

$fb-blue: #3c5a96;
$tw-blue: #59adeb;
$go-red: #d82a20;
$in-blue: #1779b3;
$em-neutral: #999999;
$bg-orange: #fd6720;
$pn-red: #c51e23;


$ipsum: "Lorem ipsum dolor";
$lorem: "Lorem ipsum dolor sit amet, te consetetur inciderint theophrastus qui, quo hinc inani affert no. Nullam denique incorrupte sed ea. Vel at eros noluisse laboramus, no paulo choro soleat qui, appetere dignissim gubergren at sit. Mea id debet indoctum. Ne ferri simul pro. Paulo veritus accumsan ne his, te cibo dissentias scripserit sea, diam omnes sit ei.";

//-------------------
// STANDARDIZE
//-------------------
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
div {
    position: relative;
    display: inline-block;
}
img {
    display: inline-block;
    border: 0;
    outline: none; 
}
a {
    display: inline-block;
} 
a img {
    border: 0; 
}
a, a:hover, a:visited, a:active {
    text-decoration: none; 
}
p {
    font-family: $fonts-sub;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: $fonts-main;
    font-weight: 400;
    font-size: 12px;
    background: url("../images/bg-grad.png") repeat-x $orange;
    text-align: center;
    color: $orange;
}
#intro {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/clouds.png") no-repeat;
    background-position: 0 0;
    background-size: 300% 300%;
    background-color: darkred;
    box-shadow: 0 0 10px black;
    text-align: center;
    div {
        position: absolute;
        left: 0;
        text-align: center;
        margin-bottom: -100%;
        width: 100%;
        height: 100%;
        opacity: 0;
        h1 {
            color: $orange;
            text-shadow: 5px 5px 10px black;
            padding-left: 35%;
            margin: 10% 0 0;
            z-index: 10;
        }
        img {
            z-index: 0;
            width: 90%;
        }
    }
    button {
        padding: 5px 10px;
        background-color: $orange;
        z-index: 1000;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border: solid 2px $orange;
        font-size: 1em;
        font-family: $fonts-main;
        font-variant: small-caps;
        &:hover {
            background-color: black;
            color: $orange;
        }
    }
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 20%;
    text-align: center;
    border-left: solid 1px $orange;
    margin: $bleed 0 0;
    cursor: pointer;
    &:first-child {
        border-left: none;
    }
    &:hover {
        text-shadow: 0 0 20px $orange;
        color: beige;
    }
}
    .selected {
        background: linear-gradient(to right, $orange, darkred);
        text-shadow: 0 0 20px $orange;
        color: beige;
    }
#page {
    text-align: center;
    width: 94%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: linear-gradient(black, darkred);
    background-color: black;
    box-shadow: 0 0 10px black;
}
    header {
        display: inline-block;
        width: 100%;
        max-width: 1000px;
        padding: $gutter 0 $bleed;
        text-align: center;
        background-image: url("../images/666.png");
        background-repeat: no-repeat;
        background-position: center 5px;
        img {
            width: 80%;
            max-width: 437px;
        }
        h2 {
            font-size: 1.7em;
            padding: $gutter 0;
            //border-bottom: solid 1px darkred;
            text-shadow: 0 0 10px black;
        }
    }
    content div {
        display: inline-block;
        width: 94%;
        margin: $gutter 0 $gutter*2;
        border-radius: $gutter;
        background: linear-gradient(beige, burlywood);
        padding: $gutter;
        text-align: left;
        img {
            float: left;
            border: solid 2px darkred;
            margin-right: $gutter;
            height: 200px;
            padding: $bleed;
        }
        h1 {
            display: inline-block;
            padding-top: $gutter;
            color: darkred;
            font-size: 1.5em;
        }
        p {
            color: #600;
            font-size: 1.4em;
            margin-top: $gutter;

        }
    }
    #premise div {
        padding: 0;
        p {
            margin: $gutter auto 0;
            max-width: 700px;
        }
        div {
            margin: 0;
            width: 100%;
            padding: 400px $gutter*2 $gutter*2;
            background: url("../images/hecateSketch.png") no-repeat top center;
        }
        h1 {
            max-width: 700px;
            margin: auto;
        }
    }
    #characters div {
        p:after {
            content: $lorem;
        }
        &:nth-child(1) {
            img {
                content: url("../images/kingsley.jpg");
            }
            h1:after {
                content: "Special Agent Kingsley";
            }
        }
        &:nth-child(2) {
            img {
                content: url("../images/caster.jpg");
            }
            h1:after {
                content: "Kastir (aka The Devil or The Trickster, Promethius, etc)";
            }
        }
        &:nth-child(3) {
            img {
                content: url("../images/dan.jpg");
            }
            h1:after {
                content: "Dan Englemann (aka The Beast)";
            }
        } 
        &:nth-child(4) {
            img {
                content: url("../images/claire.jpg");
            }
            h1:after {
                content: "Claire Jensen-Englemann";
            }
        }
        &:nth-child(5) {
            img {
                content: url("../images/hecate.jpg");
            }
            h1:after {
                content: "Hecate";
            }
        }
        &:nth-child(6) {
            img {
                content: url("../images/stewart.jpg");
            }
            h1:after {
                content: "Professor thomas Stewart";
            }
        }
    }
    #cosmology div {
        h1:after {
            content: "Cosmology";
        }
    }
    #author div {
        min-height: 500px;
        img {
            content: url("../images/brandon.jpg");
        }
        h1:after {
            content: "Brandon Gaius Ogle";
        }
    }
    #contact div {
        min-height: 500px;
        h1:after {
            content: "Contact";
        }
    }
footer {
    border-top: solid 2px $orange;
    padding: $bleed;
    b {
        font-family: helvetica;
    }
    p {
        font-family: $fonts-main;
        &:first-child {
            float: left;
            padding-right: $soc-size*2 + $bleed*2;
        }
        &:last-child {
            float: right;
        }
        a {
            display: inline-block;
            vertical-align: middle;
            width: $soc-size;
            height: $soc-size;
            border-radius: $corners;
            background: url("../images/socnet-sprite.png") $orange;
            margin-left: $bleed;
        }
        .fb {
            background-position: 0 0;
            &:hover {
                background-position: 0 -1*$soc-size;
            }
        }
        .bl {
            background-position: -5*$soc-size 0;
            &:hover {
                background-position:-5*$soc-size -1*$soc-size;
            }
        }
        .tw {
            background-position: -1*$soc-size 0;
            &:hover {
                background-position:-1*$soc-size -1*$soc-size;
            }
        }
        .gl {
            background-position: -2*$soc-size 0;
            &:hover {
                background-position: -2*$soc-size -1*$soc-size;
            }
        }
        .em {
            background-position: -4*$soc-size 0;
            &:hover {
                background-position: -4*$soc-size -1*$soc-size;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    #intro button {
        font-size: 3em;
    }
    header {
        h2 {
            font-size: 1.4em;
        }
    }
}









