//-------------------
// VARIABLIZE
//-------------------
$fonts-main: 'Eagle Lake', cursive;

$fonts-sub: 'Antic', ariel, sans-serif;
$logo-height: 150px;
$gutter: 25px;
$bleed: 10px;
$head-height: $gutter*2 + $logo-height;
$soc-size: 22px;
$col-width: 1800px;
$corners: 5px;

$height-666: 250px;
$width-666: 282px;

//-----COLORS--------

$red: #cf2212;
$orange: #ff9000;

$fb-blue: #3c5a96;
$tw-blue: #59adeb;
$go-red: #d82a20;
$in-blue: #1779b3;
$em-neutral: #999999; 
$bg-orange: #fd6720;
$pn-red: #c51e23; 


$ipsum: "Lorem ipsum dolor";
$lorem: "Lorem ipsum dolor sit amet, te consetetur inciderint theophrastus qui, quo hinc inani affert no. Nullam denique incorrupte sed ea. Vel at eros noluisse laboramus, no paulo choro soleat qui, appetere dignissim gubergren at sit. Mea id debet indoctum. Ne ferri simul pro. Paulo veritus accumsan ne his, te cibo dissentias scripserit sea, diam omnes sit ei.";

//-------------------
// STANDARDIZE
//-------------------
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0; 
    //transition:all 0.3s ease; 
}

body {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    font-family: $fonts-main;
    font-weight: 400;
    font-size: .8em;
    background: url("../images/bg-grad.png") repeat-x $orange;
    text-align: center;
    color: $orange;
}
div {
    display: inline-block;
}
img {
    display: inline-block;
    border: 0;
    outline: none;
    &:hover {
        border: none;
    }
}
a {
    display: inline-block;
    transition:all 0.3s ease;
    &:before {
        transition:all 0.3s ease;
    }
    div {
        transition:all 0.3s ease;
        
    }
    img {
        border: 0; 
        transition:all 0.3s ease; 
    }
} 
a, a:hover, a:visited, a:active {
    text-decoration: none;
    cursor: pointer;
    font-family: $fonts-sub;
}
p {
    font-family: $fonts-sub;
}
.helper {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: blue;
    vertical-align: middle;
    line-height: 100%;
    margin: 0;
}
/************************************************************
    INTRO ANIMATION
 ************************************************************/

#intro {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    background: url("../images/clouds.png") no-repeat;
    background-position: 0 0;
    background-size: 300% 300%;
    background-color: darkred;
    box-shadow: 0 0 10px black;
    text-align: center;
    div {
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        h1 {
            text-align: left;
            color: $orange;
            text-shadow: 5px 5px 10px black;
            padding-left: 35%;
            margin: 5vh 0 0;
            z-index: 10;
        }
        img {
            z-index: 0;
            height: auto;
            width: 100%;
            margin-left: 0%;
            opacity: .4;
            margin-top: -20vh;
        }
    }
}
.skip {
    display: none;
    position: fixed;
    background-color: $orange;
    z-index: 1000;
    padding: 5px 10px;
    right: 20px;
    bottom: 20px;
    border: solid 2px $orange;
    font-size: 1em;
    font-family: $fonts-main;
    font-variant: small-caps;
    color: black;
    &:hover {
        background-color: black;
        color: $orange;
    }
}
@media screen and (max-width: 800px) /*and (orientation: portrait)*/ {
    #intro { 
        div h1 {
            margin: 3vh 0 0;
            font-size: 1em;
            padding: 0;
            text-align: center;
        }
        div img {
            width: 120%;
            margin-left: -10%;
            padding-top: 20vh;
        }
    }
    .skip {
        font-size: 1.2em;
    }
}


/************************************************************
    PAGE / HEADER / NAV
 ************************************************************/
#page {
    text-align: center;
    width: 94%;
    max-width: $col-width;
    margin: 0 auto;
    background-image: linear-gradient(black, darkred);
    background-color: black;
    box-shadow: 0 0 10px black;
    .filler:after {
        content: $lorem;
    }
}
    header {
        display: inline-block;
        width: 100%;
        max-width: $col-width;
        padding: $gutter 0 $gutter*2;
        text-align: center;
        background-image: url("../images/666.png");
        background-repeat: no-repeat;
        background-position: center 5px;
        background-size: $width-666 $height-666;
        img {
            width: 80%;
            max-width: 437px;
        }
        h2 {
            font-size: 1.7em;
            padding: $bleed 0;
            //border-bottom: solid 1px darkred;
            text-shadow: 0 0 10px black;
        }
    }
nav {
    position: relative;
    z-index: 999;
    ul li {
        display: inline-block;
        list-style: none;
        margin: 0;
        width: 16.666%;
        text-align: center;
        border-left: solid 1px $orange;
        margin: $bleed 0 0;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            color: $orange;
            &:hover {
                text-shadow: 0 0 20px $orange;
                color: beige;
            }
        }
        &:first-child {
            border-left: none;
        }
    }
}
    .selected {
        background: linear-gradient(to right, $orange, darkred);
        background-color: $orange;
        a {
            text-shadow: 0 0 20px $orange;
            color: beige;
            &:hover {
                cursor: default;
            }
        }
    }
@media screen and (max-width: 800px) /*and (orientation: portrait)*/ {
    header {
        padding-top: $bleed;
        background-size: $width-666*.86 $height-666*.86;
        h2 {
            font-size: 1.3em;
            padding: 0 0 $bleed;
        }
    }
    nav ul a li {
        width: 33.33333%;
        &:last-child {
            border-right: solid 1px $orange;
        }
    }
    content>div {
        text-align: center;
        p {
            text-align: left;
        }
    }
}
@media screen and (max-width: 600px)  {
    header {
        padding-top: 0;
        background-size: $width-666*.68 $height-666*.68;
        h2 {
            font-size: 1em;
            padding: 0 0 $bleed/2;
        }
    }
    nav ul li {
        width: 50%;
        &:nth-child(odd) {
            border: none;
        }
//        &:last-child {
//            border-left: solid 1px $orange;
//            border-right: solid 1px $orange;
//        }
    }
}
@media screen and (orientation: landscape)  {
    header {
        background-size: $width-666*.5 $height-666*.5;
        img {
            width: 50%;
        }
    }
    
}
/************************************************************
    CHARACTER & WORLD CONTENT 
 ************************************************************/

.introduction, .characters, .definitions, .other-card {
    display: inline-block;
    width: 94%;
    margin: 0 0 $gutter;
    border-radius: $gutter;
    background-image: linear-gradient(beige, burlywood);
    background-color: beige;
    padding: $gutter;
    text-align: left;
    &:last-child {
        margin-bottom: $gutter;
    }
    .standard-img {
        float: left;
        border: solid 2px darkred;
        height: 200px;
        padding: $bleed;
        margin-right: $gutter;
        margin-bottom: $bleed;
    }
    h1 {
        display: inline-block;
        padding-top: $gutter;
        color: darkred;
        font-size: 1.5em;
    }
    p {
        color: #600;
        margin-top: $gutter;
        line-height: 1.4em;
    }
    p:first-letter {
        font-family: $fonts-main;
        text-transform: capitalize;
        text-align: center;
        float: left;
        color: $orange;
        font-size: 1.7em;
        line-height: 1em;
        min-width: 1em;
        background-color: darkred;
        border: solid .1em darkred;
        margin: .1em 5px 0 0;
        padding: .1em .1em;
        box-shadow: 0 0 0 2px $orange inset, 0 0 10px black inset;
        text-shadow: 0 0 10px black;
    }
}
.definitions, .characters {
    margin: 0 auto $gutter;
    top: 10%;
    width: 94%;
    max-width: $col-width;
    background-color: beige;
    background-image: linear-gradient(beige, burlywood);
    box-shadow: 0 5px 20px black;
    overflow: auto;
}
.standard-img, .world-img {
    margin: 0;
    float: left;
}
.world-img {
    background: url("../images/HereticsCosMap_BG.jpg") no-repeat;
    background-size: 400%;
    height: 200px;
    margin-right: $gutter;
    margin-bottom: $gutter;
    border-radius: 10%;
    float: left;
}

@media screen and (max-width: 750px) {
    .standard-img, .world-img {
        float: none !important;
        margin: $gutter auto 0 !important;
        display: block;
    }
}
a.character {
    color: #c64a19;
    font-size: 1em !important;
}            
.periods {
    color: gray;
}
.titans {
    color: darkblue;
}
.gods {
    color: darkmagenta;
}
.angels {
    color: darkgoldenrod;
}
.demons {
    color: darkred;
}
.elementals {
    color: darkolivegreen;
}
.realms {
    color: saddlebrown;
}

/************************************************************
    PREMISE PAGE
 ************************************************************/

#premise {
    padding: 0;
    .introduction {
        padding: 0 0 $gutter !important;
        img {
            margin: 0 0 -15%;
            width: 100%;
        }
        h1 {
            padding: 0 3%;
            display: block;
            margin: 0 0 $gutter;
        }
        .left {
            float: left;
            width: 50%;
            padding-left: 3%;
            padding-right: 1.5%
        }
        .right {
            float: right;
            width: 50%;
            padding-left: 1.5%;
            padding-right: 3%
        }
        .left, .right {
            p {
                text-align: left;
                width: 100%;
                padding-bottom: $gutter;
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 800px) /*and (orientation: portrait)*/ {
    #premise {
        .introduction {
            .left, .right {
                width: 100%;
                padding-left: 3%;
                padding-right: 3%;
                float: none;
            }
        }
    }
}
/************************************************************
    CHARACTER PAGE
 ************************************************************/

#character-app {
    position: relative;
    display: none;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    width: 94%;
    border-radius: $gutter;
    padding: $bleed;
    background-color: black;
    background-image: url(../images/charactersBG.jpg);
    background-size: 100% 100%;
    margin-bottom: $gutter;
}
.character-box {
    position: absolute;
    width: 30vw;
    height: 30vw;
    max-width: 60vh;
    max-height: 60vh;
//    margin: -50%;
}

.char {
    position: relative;
    background-color: #330000;
    border-radius: 50%;
    margin: -50px;
    width: 50%;
    height: 50%;
//    max-width: 350px;
//    max-height: 350px;
    overflow: hidden;
    vertical-align: middle;
    box-shadow: 0 0 10px black;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
//        opacity: .5;
    }
}
#char-kingsley {
    top: -10%;
    left: 15%;
}
#char-caster {
    top: 20%;
    left: 34%;
}
#char-dan {
    top: -10%;
    left: 52%;
}
#char-claire {
    top: 28%;
    left: 3%;
}
#char-hecate {
    top: 56%;
    left: 33%;
}
#char-stewart {
    top: 28%;
    left: 64%;
}

@media screen and (max-width: 1600px) and (min-height: 900px) {
    #char-kingsley {
        top: 0%;
    }
    #char-caster {
        top: 30%;
    }
    #char-dan {
        top: 0%;
    }
    #char-claire {
        top: 43%;
    }
    #char-hecate {
        top: 66%;
    }
    #char-stewart {
        top: 43%;
    }
}
@media screen and (max-width: 1000px) and (min-height: 500px) {
    #char-kingsley {
        top: 0%;
    }
    #char-caster {
        top: 30%;
    }
    #char-dan {
        top: 0%;
    }
    #char-claire {
        top: 43%;
    }
    #char-hecate {
        top: 66%;
    }
    #char-stewart {
        top: 43%;
    }
}
@media screen and (max-width: 600px) and (min-height: 700px) {
    #char-kingsley {
        top: 10%;
    }
    #char-caster {
        top: 40%;
    }
    #char-dan {
        top: 10%;
    }
    #char-claire {
        top: 53%;
    }
    #char-hecate {
        top: 76%;
    }
    #char-stewart {
        top: 53%;
    }
}
@media screen and (max-width: 600px) and (max-height: 700px) {
    #char-kingsley {
        top: 10%;
    }
    #char-caster {
        top: 40%;
    }
    #char-dan {
        top: 10%;
    }
    #char-claire {
        top: 53%;
    }
    #char-hecate {
        top: 76%;
    }
    #char-stewart {
        top: 53%;
    }
}
@media screen and (max-width: 900px) and (max-height: 700px) {
    #char-kingsley {
        top: 0%;
    }
    #char-caster {
        top: 30%;
    }
    #char-dan {
        top: 0%;
    }
    #char-claire {
        top: 43%;
    }
    #char-hecate {
        top: 66%;
    }
    #char-stewart {
        top: 43%;
    }
}
@media screen and (max-width: 800px) and (max-height: 600px) and (orientation: landscape) {
    #char-kingsley {
        top: -10%;
    }
    #char-caster {
        top: 20%;
    }
    #char-dan {
        top: -10%;
    }
    #char-claire {
        top: 33%;
    }
    #char-hecate {
        top: 56%;
    }
    #char-stewart {
        top: 33%;
    }
}
@media screen and (orientation: portrait) {
    .character-box {
        width: 45vw;
        height: 45vw;
    }
    #char-kingsley {
        left: 8%;
    }
    #char-caster {
        left: 27%;
    }
    #char-dan {
        left: 45%;
    }
    #char-claire {
        left: -4%;
    }
    #char-hecate {
        left: 26%;
    }
    #char-stewart {
        left: 57%;
    }
}
/************************************************************
    COSMOLOGY PAGE
 ************************************************************/

#cosmological-map {
    display: none;
    border-radius: $gutter;
    width: 94%;
    position: relative;
    background: url("../images/HereticsCosMap_BG.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 100vh;
    min-height: 100%;
    overflow: hidden;
    .realm {
        position: absolute;
        background: none;
        text-align: center;
        padding: 0;
        margin: 0;
        a {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: -100px;
            /* For Dev: */
            //background-color: rgba(100,0,200, .4);
            border-radius: 50%;
            img {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                height: auto;
                border: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .other {
        width: 26vw;
        height: 26vh;
        max-width: 400px;
        max-height: 400px;
        min-width: 120px;
        min-height: 120px;
        a {
            width: 90%;
            height: 90%;
            max-width: 22vh;
            max-height: 22vh;
            &:hover {
                width: 98%;
                height: 98%;
                max-width: 26vh;
                max-height: 26vh;
            }
        }
    }
    .our {
        width: 30vw;
        height: 30vh;
        max-width: 500px;
        max-height: 500px;
        min-width: 150px;
        min-height: 150px;
        a {
            width: 90%;
            height: 90%;
            max-width: 25vh;
            max-height: 25vh;
            &:hover {
                width: 98%;
                height: 98%;
                max-width: 28vh;
                max-height: 28vh;
            }
        }
    }  
    #ouranos {
        top: -1vh;
        left: 26%;
    }
    #hyperion {
        top: 23vh;
        left: 4%;
    }
    #alfheim {
        top: 15vh;
        left: 40%;
    }
    #niflheim {
        top: 19vh;
        left: 68%;
    }
    #earth {
        top: 35vh;
        left: 28%;
    }
    #oceanus {
        top: 53vh;
        left: 8%;
    }
    #khthon {
        top: 57vh;
        left: 44%;
    }
    #vulcan {
        top: 51vh;
        left: 70%;
    }
    #underworld {
        top: 78vh;
        left: 33%;
    }
}

//--------------------------------------
// RESPONSIVE CSS
//--------------------------------------

@media screen and (max-width: 1000px) {
    #cosmological-map {
        .realm {
            a {
                //background-color: rgba(0,200,200, .3);
            }
        }
        #ouranos {
            top: 0vh;
        }
        #hyperion {
            top: 26vh;
        }
        #alfheim {
            top: 20vh;
        }
        #niflheim {
            top: 22vh;
        }
        #earth {
            top: 40vh;
        }
        #oceanus {
            top: 58vh;
        }
        #khthon {
            top: 61vh;
        }
        #vulcan {
            top: 54vh;
        }
        #underworld {
            top: 80vh;
        }
    }
}
@media screen and (max-height: 350px) {
    #cosmological-map {
        h1 {
            float: right;
        }
        h3 {
            clear: right;
            float: right;
        }
        p {
            clear: both;
        }
    }
}

/************************************************************
    DEFINITION SLIDES
 ************************************************************/
.closebutton, .prevbutton {
    font-family: $fonts-main;
    font-style: normal;
    font-size: 1.2em;
    color: darkred;
    display: none;
    margin-top: -20px;
    margin-right: -10px;
    &:before {
        display: inline-block;
        padding: 0;
        margin: 0 5px 0 0;
        height: 1em;
        width: 1em;
        line-height: .9em;
        background: darkred;
        color: antiquewhite;
        border-radius: .5em;
        text-align: center;
    }
    &:hover {
        color: $orange;
        text-decoration: none;
        &:before {
            background-color: $orange;
        }
    }
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(0,0,0,.8);
    display: none;
    margin-left: -100%;
    padding-bottom: 10%;
    z-index: 1000;
    p {
        position: relative;
        z-index: 0;
    }
    span {
        margin-left: -200%;
        margin-right: 200%;
    }
    .introduction, .characters, .definitions, .other-card {
        -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
        font-size: 1em;
        position: relative;
        left: 0;
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        max-width: 800px;
        max-height: 80%;
        overflow-y:auto;
        overflow-x: hidden;
    }
    img {
        clear: both;
        margin-top: $gutter;
    }
    .closebutton {
        display: inline-block;
        float: right;
        &:before {
            content: " x";
        }
    }
    .prevbutton {
        float: left;
        &:before {
            content: " <";
        }
    }
}
@media screen and (orientation: landscape) and (max-width: 1000px)  {
    #modal {
        .introduction, .characters, .definitions, .other-card {
            font-size: 1.2em;
            img {
                float: left !important;
                margin-right: 3% !important;
                width: 150px;
                height: 150px;
            }
        }
    }
}
@media screen and (orientation: landscape) and (max-width: 700px)  {
    #modal {
        .introduction, .characters, .definitions, .other-card {
            img {
                padding: 5px;
                width: 100px;
                height: 100px;
            }
        }
    }
}

/************************************************************
    SAMPLES PAGE
 ************************************************************/

#samples {
    display: inline-block;
    width: 94%;
    border-radius: $gutter;
    margin-bottom: $gutter;
    min-height: 300px;
    background-color: black;
}

/************************************************************
    AUTHOR PAGE
 ************************************************************/

#author div {
    min-height: 500px;
    img {
        content: url("../images/brandon.jpg");
    }
    h1:after {
        content: "Brandon Gaius Ogle";
    }
}

/************************************************************
    CONTACT PAGE
 ************************************************************/

#contact div {
    min-height: 500px;
    img {
        content: url("../images/proposal.jpg");
    }
    a {
        margin: $gutter;
        color: darkred;
        font-size: 1.2em;
        &:hover {
            text-decoration: underline;
        }
    }
}

/************************************************************
    FOOTER
 ************************************************************/

footer {
    border-top: solid 2px $orange;
    padding: $bleed;
    b {
        font-family: helvetica;
    }
    p {
        font-family: $fonts-main;
        &:nth-child(1) {
            float: left;
            padding-right: $soc-size*2 + $bleed*2;
        }
        &:nth-child(2) {
            float: right;
        }
        a {
            display: inline-block;
            vertical-align: middle;
            width: $soc-size;
            height: $soc-size;
            border-radius: $corners;
            background: url("../images/socnet-sprite.png") $orange;
            background-size: 900% 200%;
            margin-left: $bleed;
        }
        .fb {
            background-position: 0 0;
            &:hover {
                background-position: 0 -1*$soc-size;
            }
        }
        .bl {
            background-position: -5*$soc-size 0;
            &:hover {
                background-position:-5*$soc-size -1*$soc-size;
            }
        }
        .tw {
            background-position: -1*$soc-size 0;
            &:hover {
                background-position:-1*$soc-size -1*$soc-size;
            }
        }
        .gl {
            background-position: -2*$soc-size 0;
            &:hover {
                background-position: -2*$soc-size -1*$soc-size;
            }
        }
        .em {
            background-position: -4*$soc-size 0;
            &:hover {
                background-position: -4*$soc-size -1*$soc-size;
            }
        }
    }
}
@media screen and (max-width: 500px)  {
    footer {
        p {
            padding-bottom: $bleed;
            &:first-child {
                margin-right: -50%;
            }
            &:last-child {
                margin-left: -50%;
            }
            span {
                text-align: left;
                padding-left: $bleed;
                display: block;
            }
            a {
                width: $soc-size*1.5;
                height: $soc-size*1.5;
                background-size: 900% 200%;
            }
            .fb {
                background-position: 0 0;
                &:hover {
                    background-position: 0 -1.5*$soc-size;
                }
            }
            .bl {
                background-position: -7.5*$soc-size 0;
                &:hover {
                    background-position:-7.5*$soc-size -1.5*$soc-size;
                }
            }
            .tw {
                background-position: -1.5*$soc-size 0;
                &:hover {
                    background-position:-1.5*$soc-size -1.5*$soc-size;
                }
            }
            .gl {
                background-position: -3*$soc-size 0;
                &:hover {
                    background-position: -3*$soc-size -1.5*$soc-size;
                }
            }
            .em {
                background-position: -6*$soc-size 0;
                &:hover {
                    background-position: -6*$soc-size -1.5*$soc-size;
                }
            }
        }
        .name-copy {
            float: none;
            clear: both;
            padding: 0;
            span {
                display: inline-block;
                clear: both;
                margin: $gutter 0 $bleed;
                text-align: center;
            }
        }
    }
}