/* line 38, css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 46, css.scss */
body {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  font-family: "Eagle Lake", cursive;
  font-weight: 400;
  font-size: 12px;
  background: url("../images/bg-grad.png") repeat-x #ff9000;
  text-align: center;
  color: #ff9000;
}

/* line 59, css.scss */
div {
  display: inline-block;
}

/* line 62, css.scss */
img {
  display: inline-block;
  border: 0;
  outline: none;
}
/* line 66, css.scss */
img:hover {
  border: none;
}

/* line 70, css.scss */
a {
  display: inline-block;
  transition: all 0.3s ease;
  font-size: inherit;
}
/* line 74, css.scss */
a:before {
  transition: all 0.3s ease;
}
/* line 77, css.scss */
a div {
  transition: all 0.3s ease;
}
/* line 81, css.scss */
a img {
  border: 0;
  transition: all 0.3s ease;
}

/* line 86, css.scss */
a, a:hover, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}

/* line 91, css.scss */
p {
  font-family: "Antic", ariel, sans-serif;
  font-size: 1em;
}

/* line 95, css.scss */
.helper {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: blue;
  vertical-align: middle;
  line-height: 100%;
  margin: 0;
}

/************************************************************
    INTRO ANIMATION
 ************************************************************/
/* line 111, css.scss */
#intro {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  background: url("../images/clouds.png") no-repeat;
  background-position: 0 0;
  background-size: 300% 300%;
  background-color: darkred;
  box-shadow: 0 0 10px black;
  text-align: center;
}
/* line 127, css.scss */
#intro div {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 135, css.scss */
#intro div h1 {
  text-align: left;
  color: #ff9000;
  text-shadow: 5px 5px 10px black;
  padding-left: 35%;
  margin: 5vh 0 0;
  z-index: 10;
}
/* line 143, css.scss */
#intro div img {
  z-index: 0;
  height: auto;
  width: 100%;
  margin-left: 0%;
  opacity: .4;
  margin-top: -20vh;
}

/* line 153, css.scss */
.skip {
  display: none;
  position: fixed;
  background-color: #ff9000;
  z-index: 1000;
  padding: 5px 10px;
  right: 20px;
  bottom: 20px;
  border: solid 2px #ff9000;
  font-size: 1em;
  font-family: "Eagle Lake", cursive;
  font-variant: small-caps;
  color: black;
}
/* line 166, css.scss */
.skip:hover {
  background-color: black;
  color: #ff9000;
}

@media screen and (max-width: 800px) {
  /* line 173, css.scss */
  #intro div h1 {
    margin: 3vh 0 0;
    font-size: 1em;
    padding: 0;
    text-align: center;
  }
  /* line 179, css.scss */
  #intro div img {
    width: 120%;
    margin-left: -10%;
    padding-top: 20vh;
  }

  /* line 185, css.scss */
  .skip {
    font-size: 1.2em;
  }
}
/************************************************************
    PAGE / HEADER / NAV
 ************************************************************/
/* line 194, css.scss */
#page {
  text-align: center;
  width: 94%;
  max-width: 1800px;
  margin: 0 auto;
  background-image: linear-gradient(#000000, #8b0000);
  background-color: black;
  box-shadow: 0 0 10px black;
}
/* line 202, css.scss */
#page .filler:after {
  content: "Lorem ipsum dolor sit amet, te consetetur inciderint theophrastus qui, quo hinc inani affert no. Nullam denique incorrupte sed ea. Vel at eros noluisse laboramus, no paulo choro soleat qui, appetere dignissim gubergren at sit. Mea id debet indoctum. Ne ferri simul pro. Paulo veritus accumsan ne his, te cibo dissentias scripserit sea, diam omnes sit ei.";
}

/* line 206, css.scss */
header {
  display: inline-block;
  width: 100%;
  max-width: 1800px;
  padding: 25px 0 50px;
  text-align: center;
  background-image: url("../images/666.png");
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 282px 250px;
}
/* line 216, css.scss */
header img {
  width: 80%;
  max-width: 437px;
}
/* line 220, css.scss */
header h2 {
  font-size: 1.7em;
  padding: 10px 0;
  text-shadow: 0 0 10px black;
}

/* line 227, css.scss */
nav {
  position: relative;
  z-index: 999;
}
/* line 230, css.scss */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  width: 16.666%;
  text-align: center;
  border-left: solid 1px #ff9000;
  margin: 10px 0 0;
}
/* line 238, css.scss */
nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #ff9000;
}
/* line 243, css.scss */
nav ul li a:hover {
  text-shadow: 0 0 20px #ff9000;
  color: beige;
}
/* line 248, css.scss */
nav ul li:first-child {
  border-left: none;
}

/* line 253, css.scss */
.selected {
  background: linear-gradient(to right, #ff9000, #8b0000);
  background-color: #ff9000;
}
/* line 256, css.scss */
.selected a {
  text-shadow: 0 0 20px #ff9000;
  color: beige;
}
/* line 259, css.scss */
.selected a:hover {
  cursor: default;
}

@media screen and (max-width: 800px) {
  /* line 265, css.scss */
  header {
    padding-top: 10px;
    background-size: 242.52px 215px;
  }
  /* line 268, css.scss */
  header h2 {
    font-size: 1.3em;
    padding: 0 0 10px;
  }

  /* line 273, css.scss */
  nav ul a li {
    width: 33.33333%;
  }
  /* line 275, css.scss */
  nav ul a li:last-child {
    border-right: solid 1px #ff9000;
  }

  /* line 279, css.scss */
  content > div {
    text-align: center;
  }
  /* line 281, css.scss */
  content > div p {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  /* line 287, css.scss */
  header {
    padding-top: 0;
    background-size: 191.76px 170px;
  }
  /* line 290, css.scss */
  header h2 {
    font-size: 1em;
    padding: 0 0 5px;
  }

  /* line 295, css.scss */
  nav ul li {
    width: 50%;
  }
  /* line 297, css.scss */
  nav ul li:nth-child(odd) {
    border: none;
  }
}
@media screen and (orientation: landscape) {
  /* line 307, css.scss */
  header {
    background-size: 141px 125px;
  }
  /* line 309, css.scss */
  header img {
    width: 50%;
  }
}
/************************************************************
    CHARACTER & WORLD CONTENT 
 ************************************************************/
/* line 319, css.scss */
.introduction, .characters, .definitions, .other-card {
  display: inline-block;
  width: 94%;
  margin: 0 0 25px;
  border-radius: 25px;
  background-image: linear-gradient(#f5f5dc, #deb887);
  background-color: beige;
  padding: 25px;
  text-align: left;
}
/* line 328, css.scss */
.introduction:last-child, .characters:last-child, .definitions:last-child, .other-card:last-child {
  margin-bottom: 25px;
}
/* line 331, css.scss */
.introduction .standard-img, .characters .standard-img, .definitions .standard-img, .other-card .standard-img {
  float: left;
  border: solid 2px darkred;
  height: 200px;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
}
/* line 339, css.scss */
.introduction h1, .characters h1, .definitions h1, .other-card h1 {
  display: inline-block;
  padding-top: 25px;
  color: darkred;
  font-size: 1.5em;
}
/* line 345, css.scss */
.introduction p, .characters p, .definitions p, .other-card p {
  color: #600;
  font-size: 1.4em;
  margin-top: 25px;
  line-height: 1.4em;
}
/* line 351, css.scss */
.introduction p:first-letter, .characters p:first-letter, .definitions p:first-letter, .other-card p:first-letter {
  font-family: "Eagle Lake", cursive;
  text-transform: capitalize;
  text-align: center;
  float: left;
  color: #ff9000;
  font-size: 1.7em;
  line-height: 1em;
  min-width: 1em;
  background-color: darkred;
  border: solid .1em darkred;
  margin: .1em 5px 0 0;
  padding: .1em .1em;
  box-shadow: 0 0 0 2px #ff9000 inset, 0 0 10px black inset;
  text-shadow: 0 0 10px black;
}

/* line 368, css.scss */
.definitions, .characters {
  margin: 0 auto 25px;
  top: 10%;
  width: 94%;
  max-width: 1800px;
  background-color: beige;
  background-image: linear-gradient(#f5f5dc, #deb887);
  box-shadow: 0 5px 20px black;
  overflow: auto;
}

/* line 378, css.scss */
.standard-img, .world-img {
  margin: 0;
  float: left;
}

/* line 382, css.scss */
.world-img {
  background: url("../images/HereticsCosMap_BG.jpg") no-repeat;
  background-size: 400%;
  height: 200px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10%;
  float: left;
}

@media screen and (max-width: 750px) {
  /* line 393, css.scss */
  .standard-img, .world-img {
    float: none !important;
    margin: 25px auto 0 !important;
    display: block;
  }
}
/* line 399, css.scss */
.character {
  color: #c64a19;
}

/* line 402, css.scss */
.periods {
  color: gray;
}

/* line 405, css.scss */
.titans {
  color: darkblue;
}

/* line 408, css.scss */
.gods {
  color: darkmagenta;
}

/* line 411, css.scss */
.angels {
  color: darkgoldenrod;
}

/* line 414, css.scss */
.demons {
  color: darkred;
}

/* line 417, css.scss */
.elementals {
  color: darkolivegreen;
}

/* line 420, css.scss */
.realms {
  color: saddlebrown;
}

/************************************************************
    PREMISE PAGE
 ************************************************************/
/* line 428, css.scss */
#premise {
  padding: 0;
}
/* line 430, css.scss */
#premise .introduction {
  padding: 0 0 25px !important;
}
/* line 432, css.scss */
#premise .introduction img {
  margin: 0 0 -15%;
  width: 100%;
}
/* line 436, css.scss */
#premise .introduction h1 {
  padding: 0 3%;
  display: block;
  margin: 0 0 25px;
}
/* line 441, css.scss */
#premise .introduction .left {
  float: left;
  width: 50%;
  padding-left: 3%;
  padding-right: 1.5%;
}
/* line 447, css.scss */
#premise .introduction .right {
  float: right;
  width: 50%;
  padding-left: 1.5%;
  padding-right: 3%;
}
/* line 454, css.scss */
#premise .introduction .left p, #premise .introduction .right p {
  text-align: left;
  width: 100%;
  padding-bottom: 25px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  /* line 466, css.scss */
  #premise .introduction .left, #premise .introduction .right {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    float: none;
  }
}
/************************************************************
    CHARACTER PAGE
 ************************************************************/
/* line 479, css.scss */
#character-app {
  position: relative;
  display: none;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  width: 94%;
  border-radius: 25px;
  padding: 10px;
  background-color: black;
  background-image: url(../images/charactersBG.jpg);
  background-size: 100% 100%;
  margin-bottom: 25px;
}

/* line 493, css.scss */
.character-box {
  position: absolute;
  width: 30vw;
  height: 30vw;
  max-width: 60vh;
  max-height: 60vh;
}

/* line 502, css.scss */
.char {
  position: relative;
  background-color: #330000;
  border-radius: 50%;
  margin: -50px;
  width: 50%;
  height: 50%;
  overflow: hidden;
  vertical-align: middle;
  box-shadow: 0 0 10px black;
}
/* line 514, css.scss */
.char img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* line 521, css.scss */
#char-kingsley {
  top: -10%;
  left: 15%;
}

/* line 525, css.scss */
#char-caster {
  top: 20%;
  left: 34%;
}

/* line 529, css.scss */
#char-dan {
  top: -10%;
  left: 52%;
}

/* line 533, css.scss */
#char-claire {
  top: 28%;
  left: 3%;
}

/* line 537, css.scss */
#char-hecate {
  top: 56%;
  left: 33%;
}

/* line 541, css.scss */
#char-stewart {
  top: 28%;
  left: 64%;
}

@media screen and (max-width: 1600px) and (min-height: 900px) {
  /* line 547, css.scss */
  #char-kingsley {
    top: 0%;
  }

  /* line 550, css.scss */
  #char-caster {
    top: 30%;
  }

  /* line 553, css.scss */
  #char-dan {
    top: 0%;
  }

  /* line 556, css.scss */
  #char-claire {
    top: 43%;
  }

  /* line 559, css.scss */
  #char-hecate {
    top: 66%;
  }

  /* line 562, css.scss */
  #char-stewart {
    top: 43%;
  }
}
@media screen and (max-width: 1000px) and (min-height: 500px) {
  /* line 567, css.scss */
  #char-kingsley {
    top: 0%;
  }

  /* line 570, css.scss */
  #char-caster {
    top: 30%;
  }

  /* line 573, css.scss */
  #char-dan {
    top: 0%;
  }

  /* line 576, css.scss */
  #char-claire {
    top: 43%;
  }

  /* line 579, css.scss */
  #char-hecate {
    top: 66%;
  }

  /* line 582, css.scss */
  #char-stewart {
    top: 43%;
  }
}
@media screen and (max-width: 600px) and (min-height: 700px) {
  /* line 587, css.scss */
  #char-kingsley {
    top: 10%;
  }

  /* line 590, css.scss */
  #char-caster {
    top: 40%;
  }

  /* line 593, css.scss */
  #char-dan {
    top: 10%;
  }

  /* line 596, css.scss */
  #char-claire {
    top: 53%;
  }

  /* line 599, css.scss */
  #char-hecate {
    top: 76%;
  }

  /* line 602, css.scss */
  #char-stewart {
    top: 53%;
  }
}
@media screen and (max-width: 600px) and (max-height: 700px) {
  /* line 607, css.scss */
  #char-kingsley {
    top: 10%;
  }

  /* line 610, css.scss */
  #char-caster {
    top: 40%;
  }

  /* line 613, css.scss */
  #char-dan {
    top: 10%;
  }

  /* line 616, css.scss */
  #char-claire {
    top: 53%;
  }

  /* line 619, css.scss */
  #char-hecate {
    top: 76%;
  }

  /* line 622, css.scss */
  #char-stewart {
    top: 53%;
  }
}
@media screen and (max-width: 900px) and (max-height: 700px) {
  /* line 627, css.scss */
  #char-kingsley {
    top: 0%;
  }

  /* line 630, css.scss */
  #char-caster {
    top: 30%;
  }

  /* line 633, css.scss */
  #char-dan {
    top: 0%;
  }

  /* line 636, css.scss */
  #char-claire {
    top: 43%;
  }

  /* line 639, css.scss */
  #char-hecate {
    top: 66%;
  }

  /* line 642, css.scss */
  #char-stewart {
    top: 43%;
  }
}
@media screen and (max-width: 800px) and (max-height: 600px) and (orientation: landscape) {
  /* line 647, css.scss */
  #char-kingsley {
    top: -10%;
  }

  /* line 650, css.scss */
  #char-caster {
    top: 20%;
  }

  /* line 653, css.scss */
  #char-dan {
    top: -10%;
  }

  /* line 656, css.scss */
  #char-claire {
    top: 33%;
  }

  /* line 659, css.scss */
  #char-hecate {
    top: 56%;
  }

  /* line 662, css.scss */
  #char-stewart {
    top: 33%;
  }
}
@media screen and (orientation: portrait) {
  /* line 667, css.scss */
  .character-box {
    width: 45vw;
    height: 45vw;
  }

  /* line 671, css.scss */
  #char-kingsley {
    left: 8%;
  }

  /* line 674, css.scss */
  #char-caster {
    left: 27%;
  }

  /* line 677, css.scss */
  #char-dan {
    left: 45%;
  }

  /* line 680, css.scss */
  #char-claire {
    left: -4%;
  }

  /* line 683, css.scss */
  #char-hecate {
    left: 26%;
  }

  /* line 686, css.scss */
  #char-stewart {
    left: 57%;
  }
}
/************************************************************
    COSMOLOGY PAGE
 ************************************************************/
/* line 694, css.scss */
#cosmological-map {
  display: none;
  border-radius: 25px;
  width: 94%;
  position: relative;
  background: url("../images/HereticsCosMap_BG.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
}
/* line 704, css.scss */
#cosmological-map .realm {
  position: absolute;
  background: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* line 710, css.scss */
#cosmological-map .realm a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: -100px;
  /* For Dev: */
  border-radius: 50%;
}
/* line 718, css.scss */
#cosmological-map .realm a img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  border: none;
}
/* line 726, css.scss */
#cosmological-map .realm a:hover {
  cursor: pointer;
}
/* line 731, css.scss */
#cosmological-map .other {
  width: 26vw;
  height: 26vh;
  max-width: 400px;
  max-height: 400px;
  min-width: 120px;
  min-height: 120px;
}
/* line 738, css.scss */
#cosmological-map .other a {
  width: 90%;
  height: 90%;
  max-width: 22vh;
  max-height: 22vh;
}
/* line 743, css.scss */
#cosmological-map .other a:hover {
  width: 98%;
  height: 98%;
  max-width: 26vh;
  max-height: 26vh;
}
/* line 751, css.scss */
#cosmological-map .our {
  width: 30vw;
  height: 30vh;
  max-width: 500px;
  max-height: 500px;
  min-width: 150px;
  min-height: 150px;
}
/* line 758, css.scss */
#cosmological-map .our a {
  width: 90%;
  height: 90%;
  max-width: 25vh;
  max-height: 25vh;
}
/* line 763, css.scss */
#cosmological-map .our a:hover {
  width: 98%;
  height: 98%;
  max-width: 28vh;
  max-height: 28vh;
}
/* line 771, css.scss */
#cosmological-map #ouranos {
  top: -1vh;
  left: 26%;
}
/* line 775, css.scss */
#cosmological-map #hyperion {
  top: 23vh;
  left: 4%;
}
/* line 779, css.scss */
#cosmological-map #alfheim {
  top: 15vh;
  left: 40%;
}
/* line 783, css.scss */
#cosmological-map #niflheim {
  top: 19vh;
  left: 68%;
}
/* line 787, css.scss */
#cosmological-map #earth {
  top: 35vh;
  left: 28%;
}
/* line 791, css.scss */
#cosmological-map #oceanus {
  top: 53vh;
  left: 8%;
}
/* line 795, css.scss */
#cosmological-map #khthon {
  top: 57vh;
  left: 44%;
}
/* line 799, css.scss */
#cosmological-map #vulcan {
  top: 51vh;
  left: 70%;
}
/* line 803, css.scss */
#cosmological-map #underworld {
  top: 78vh;
  left: 33%;
}

@media screen and (max-width: 1000px) {
  /* line 820, css.scss */
  #cosmological-map #ouranos {
    top: 0vh;
  }
  /* line 823, css.scss */
  #cosmological-map #hyperion {
    top: 26vh;
  }
  /* line 826, css.scss */
  #cosmological-map #alfheim {
    top: 20vh;
  }
  /* line 829, css.scss */
  #cosmological-map #niflheim {
    top: 22vh;
  }
  /* line 832, css.scss */
  #cosmological-map #earth {
    top: 40vh;
  }
  /* line 835, css.scss */
  #cosmological-map #oceanus {
    top: 58vh;
  }
  /* line 838, css.scss */
  #cosmological-map #khthon {
    top: 61vh;
  }
  /* line 841, css.scss */
  #cosmological-map #vulcan {
    top: 54vh;
  }
  /* line 844, css.scss */
  #cosmological-map #underworld {
    top: 80vh;
  }
}
@media screen and (max-height: 350px) {
  /* line 851, css.scss */
  #cosmological-map h1 {
    float: right;
  }
  /* line 854, css.scss */
  #cosmological-map h3 {
    clear: right;
    float: right;
  }
  /* line 858, css.scss */
  #cosmological-map p {
    clear: both;
  }
}
/************************************************************
    DEFINITION SLIDES
 ************************************************************/
/* line 867, css.scss */
.closebutton, .prevbutton {
  font-style: normal;
  font-size: 1.2em;
  color: darkred;
  display: none;
  margin-top: -20px;
  margin-right: -10px;
}
/* line 874, css.scss */
.closebutton:before, .prevbutton:before {
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  height: 1em;
  width: 1em;
  line-height: .9em;
  background: darkred;
  color: antiquewhite;
  border-radius: .5em;
  font-size: 1.2em;
  text-align: center;
}
/* line 887, css.scss */
.closebutton:hover, .prevbutton:hover {
  color: #ff9000;
  text-decoration: none;
}
/* line 890, css.scss */
.closebutton:hover:before, .prevbutton:hover:before {
  background-color: #ff9000;
}

/* line 895, css.scss */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  margin-left: -100%;
  padding-bottom: 10%;
  z-index: 1000;
}
/* line 908, css.scss */
#modal p {
  position: relative;
  z-index: 0;
}
/* line 912, css.scss */
#modal span {
  margin-left: -200%;
  margin-right: 200%;
}
/* line 916, css.scss */
#modal .introduction, #modal .characters, #modal .definitions, #modal .other-card {
  position: relative;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 927, css.scss */
#modal img {
  clear: both;
  margin-top: 25px;
}
/* line 931, css.scss */
#modal .closebutton {
  display: inline-block;
  float: right;
}
/* line 934, css.scss */
#modal .closebutton:before {
  content: " x";
}
/* line 938, css.scss */
#modal .prevbutton {
  float: left;
}
/* line 940, css.scss */
#modal .prevbutton:before {
  content: " <";
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  /* line 947, css.scss */
  #modal .introduction, #modal .characters, #modal .definitions, #modal .other-card {
    font-size: .8em;
  }
  /* line 949, css.scss */
  #modal .introduction img, #modal .characters img, #modal .definitions img, #modal .other-card img {
    float: left !important;
    margin-right: 3% !important;
    width: 150px;
    height: 150px;
  }
}
@media screen and (orientation: landscape) and (max-width: 700px) {
  /* line 961, css.scss */
  #modal .introduction img, #modal .characters img, #modal .definitions img, #modal .other-card img {
    padding: 5px;
    width: 100px;
    height: 100px;
  }
  /* line 966, css.scss */
  #modal .introduction p, #modal .characters p, #modal .definitions p, #modal .other-card p {
    font-size: 1em;
  }
  /* line 968, css.scss */
  #modal .introduction p a, #modal .characters p a, #modal .definitions p a, #modal .other-card p a {
    font-size: 1em;
  }
}
/************************************************************
    SAMPLES PAGE
 ************************************************************/
/* line 980, css.scss */
#samples {
  display: inline-block;
  width: 94%;
  border-radius: 25px;
  margin-bottom: 25px;
  min-height: 300px;
  background-color: black;
}

/************************************************************
    AUTHOR PAGE
 ************************************************************/
/* line 993, css.scss */
#author div {
  min-height: 500px;
}
/* line 995, css.scss */
#author div img {
  content: url("../images/brandon.jpg");
}
/* line 998, css.scss */
#author div h1:after {
  content: "Brandon Gaius Ogle";
}

/************************************************************
    CONTACT PAGE
 ************************************************************/
/* line 1007, css.scss */
#contact div {
  min-height: 500px;
}
/* line 1009, css.scss */
#contact div img {
  content: url("../images/proposal.jpg");
}
/* line 1012, css.scss */
#contact div a {
  margin: 25px;
  color: darkred;
  font-size: 1.2em;
}
/* line 1016, css.scss */
#contact div a:hover {
  text-decoration: underline;
}

/************************************************************
    FOOTER
 ************************************************************/
/* line 1026, css.scss */
footer {
  border-top: solid 2px #ff9000;
  padding: 10px;
}
/* line 1029, css.scss */
footer b {
  font-family: helvetica;
}
/* line 1032, css.scss */
footer p {
  font-family: "Eagle Lake", cursive;
}
/* line 1034, css.scss */
footer p:nth-child(1) {
  float: left;
  padding-right: 64px;
}
/* line 1038, css.scss */
footer p:nth-child(2) {
  float: right;
}
/* line 1041, css.scss */
footer p a {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  background: url("../images/socnet-sprite.png") #ff9000;
  background-size: 900% 200%;
  margin-left: 10px;
}
/* line 1051, css.scss */
footer p .fb {
  background-position: 0 0;
}
/* line 1053, css.scss */
footer p .fb:hover {
  background-position: 0 -22px;
}
/* line 1057, css.scss */
footer p .bl {
  background-position: -110px 0;
}
/* line 1059, css.scss */
footer p .bl:hover {
  background-position: -110px -22px;
}
/* line 1063, css.scss */
footer p .tw {
  background-position: -22px 0;
}
/* line 1065, css.scss */
footer p .tw:hover {
  background-position: -22px -22px;
}
/* line 1069, css.scss */
footer p .gl {
  background-position: -44px 0;
}
/* line 1071, css.scss */
footer p .gl:hover {
  background-position: -44px -22px;
}
/* line 1075, css.scss */
footer p .em {
  background-position: -88px 0;
}
/* line 1077, css.scss */
footer p .em:hover {
  background-position: -88px -22px;
}

@media screen and (max-width: 500px) {
  /* line 1085, css.scss */
  footer p {
    padding-bottom: 10px;
  }
  /* line 1087, css.scss */
  footer p:first-child {
    margin-right: -50%;
  }
  /* line 1090, css.scss */
  footer p:last-child {
    margin-left: -50%;
  }
  /* line 1093, css.scss */
  footer p span {
    text-align: left;
    padding-left: 10px;
    display: block;
  }
  /* line 1098, css.scss */
  footer p a {
    width: 33px;
    height: 33px;
    background-size: 900% 200%;
  }
  /* line 1103, css.scss */
  footer p .fb {
    background-position: 0 0;
  }
  /* line 1105, css.scss */
  footer p .fb:hover {
    background-position: 0 -33px;
  }
  /* line 1109, css.scss */
  footer p .bl {
    background-position: -165px 0;
  }
  /* line 1111, css.scss */
  footer p .bl:hover {
    background-position: -165px -33px;
  }
  /* line 1115, css.scss */
  footer p .tw {
    background-position: -33px 0;
  }
  /* line 1117, css.scss */
  footer p .tw:hover {
    background-position: -33px -33px;
  }
  /* line 1121, css.scss */
  footer p .gl {
    background-position: -66px 0;
  }
  /* line 1123, css.scss */
  footer p .gl:hover {
    background-position: -66px -33px;
  }
  /* line 1127, css.scss */
  footer p .em {
    background-position: -132px 0;
  }
  /* line 1129, css.scss */
  footer p .em:hover {
    background-position: -132px -33px;
  }
  /* line 1134, css.scss */
  footer .name-copy {
    float: none;
    clear: both;
    padding: 0;
  }
  /* line 1138, css.scss */
  footer .name-copy span {
    display: inline-block;
    clear: both;
    margin: 25px 0 10px;
    text-align: center;
  }
}
