//-------------------
// VARIABLIZE
//-------------------
$fonts-main: 'Eagle Lake', cursive;

/*
font-family: 'Jim Nightshade', cursive;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Trade Winds', cursive;
font-family: 'Londrina Sketch', cursive;
font-family: 'Eagle Lake', cursive; *****
font-family: 'UnifrakturCook', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Fondamento', cursive;
font-family: 'IM Fell Double Pica SC', serif;
*/

$fonts-sub: 'Muli', "Century Gothic", ariel, sans-serif;
$logo-height: 150px;
$gutter: 25px;
$bleed: 10px;
$head-height: $gutter*2 + $logo-height;
$soc-size: 30px;
$col-width: 1000px;
$corners: 5px;

//-----COLORS--------

$dark-red: #95160a;
$red: #cf2212;
$orange: #ff9000;

$fb-blue: #3c5a96;
$tw-blue: #59adeb;
$go-red: #d82a20;
$in-blue: #1779b3;
$em-neutral: #999999;
$bg-orange: #fd6720;
$pn-red: #c51e23;

//-------------------
// STANDARDIZE
//-------------------
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
div {
    position: relative;
    display: inline-block;
}
img {
    display: inline-block;
    border: 0;
    outline: none; 
}
a {
    display: inline-block;
} 
a img {
    border: 0; 
}
a, a:hover, a:visited, a:active {
    text-decoration: none; 
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: $fonts-main;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    background: url("../images/bg-grad.png") repeat-x $dark-red;
    text-align: center;
    color: $orange;
}
button {
    padding: 5px 10px;
    background-color: $orange;
    z-index: 1000;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#intro {
    width: 100%;
    height: 100%;
    background: url("../images/clouds.png") no-repeat 0 0;
    background-size: 300% 300%;
    box-shadow: 0 0 10px black;
    text-align: center;
    h1 {
        color: $orange;
    }
    div {
        position: absolute;
        display: inline-block;
        text-align: left;
        width: 100%;
        height: 100%;
        margin-bottom: -100%;
        margin-left: -50%;
        opacity: 0;
        h1 {
            padding-left: 30%;
        }
    }
}

#evil {
    background: url("../images/beast.png") no-repeat center;
    background-size: 100%;
    h1 {
        margin-top: 50%;
    }
}
#love {
    background: url("../images/johnny.png") no-repeat center;
    background-size: 100%;
    h1 {
        margin-top: 30%;
    }
}
#hero {
    background: url("../images/kingsley.png") no-repeat center;
    background-size: 100%;
    h1 {
        margin-top: 60%;
    }
}
#world {
    background: url("../images/hecate.png") no-repeat center;
    background-size: 100%;
    h1 {
        margin-top: 55%;
    }
}
#all {
    background: url("../images/caster.png") no-repeat center;
    background-size: 100%;
    h1 {
        margin-top: 25%;
    }
}
#page {
    text-align: center;
}
    #header {
        display: inline-block;
        width: 100%;
        max-width: 1000px;
        min-width: 450px;
        padding: $gutter 0;
        text-align: center;
        border-bottom: solid $orange 2px;
        
        img {
            margin-bottom: -20px;
            margin-right: -437px;
            width: 80%;
            max-width: 437px;
        }
        h2, h3 {
            font-size: 19px;
            display: inline-block;
        }
        h3 {
            padding-left: 20px;
        }
    }


@media screen and (min-width: 1000px) {
    #header {
       text-align: left;
    }
}

/*
                 #socnet {
                    font-size: 16px;
                    text-align: center;
                    margin-top: $gutter;
                    h4 {
                        display: inline-block;
                        color: $charcoal;
                        font-weight: 400;
                        width: 100%;
                    }
                    a {
                        width: $soc-size;
                        height: $soc-size;
                        border-radius: $soc-size/2;
                        margin: 5px 4px 0 4px;
                        box-shadow: 2px 2px 5px $charcoal; 
                        background: url("../images/socnet-sprite.png") no-repeat;
                    }
                    .fb {
                        background-position: 0 -1*$soc-size;
                        background-color: $fb-blue;
                        &:hover {
                            background-position: 0 0;
                        }
                    }
                    .tw {
                        background-position: -1*$soc-size -1*$soc-size;
                        background-color: $tw-blue;
                        &:hover {
                            background-position: -1*$soc-size 0;
                        }
                    }
                    .go {
                        background-position: -2*$soc-size -1*$soc-size;
                        background-color: $go-red;
                        &:hover {
                            background-position: -2*$soc-size 0;
                        }
                    }
                    .in {
                        background-position: -3*$soc-size -1*$soc-size;
                        background-color: $in-blue;
                        &:hover {
                            background-position: -3*$soc-size 0;
                        }
                    }
                    .em {
                        background-position: -4*$soc-size -1*$soc-size;
                        background-color: $em-neutral;
                        &:hover {
                            background-position: -4*$soc-size 0;
                        }
                    }
                }
    #footer {
        clear: both;
        font-size: 11px;
        margin: $gutter*3;
        font-family: $fonts-sub;
        text-align: center;
        a {
            color: $ash;
            &:hover {
                text-decoration: underline;
            }
        }
    }
*/