/* line 32, css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 38, css.scss */
div {
  position: relative;
}

/* line 41, css.scss */
img {
  display: inline-block;
  border: 0;
  outline: none;
}

/* line 46, css.scss */
a {
  display: inline-block;
}

/* line 49, css.scss */
a img {
  border: 0;
}

/* line 52, css.scss */
a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/* line 55, css.scss */
ul {
  list-style: none;
}

/* line 58, css.scss */
h1 {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 10px;
}

/* line 65, css.scss */
h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: #5a9245;
  text-align: left;
  margin-bottom: 10px;
}

/* line 72, css.scss */
body {
  position: relative;
  width: 100%;
  background: url("../images/cross.png") #e5eec7;
  font-family: "Quicksand", "Century Gothic", sans-serif;
}

/* line 81, css.scss */
#demoreel {
  max-width: 1000px;
  width: 94%;
  margin: 0 auto;
  background-color: #301f3a;
  box-shadow: 0 0 5px #436337;
  overflow: hidden;
}

/* line 89, css.scss */
header {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  z-index: 10;
  background: linear-gradient(#5a9245, #436337) #5a9245;
  color: white;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/* line 97, css.scss */
header li {
  display: inline-block;
  padding-bottom: 10px;
  font-size: .9em;
}
/* line 101, css.scss */
header li a {
  color: white;
  overflow: hidden;
  margin: 0 10px;
}
/* line 105, css.scss */
header li a div {
  display: none;
  height: 30px;
  width: 30px;
  background: url(../images/icons.png) no-repeat;
  background-size: 600% 200%;
  background-position: bottom;
  border-radius: 10%;
  vertical-align: middle;
}
/* line 116, css.scss */
header li a #phone {
  background-position: 40% 100%;
}
/* line 119, css.scss */
header li a #email {
  background-position: 80% 100%;
}
/* line 121, css.scss */
header li a #email:hover {
  background-position: 80% 0%;
}
/* line 125, css.scss */
header li a #portfolio {
  background-position: 0% 100%;
}
/* line 127, css.scss */
header li a #portfolio:hover {
  background-position: 0% 0%;
}
/* line 131, css.scss */
header li a #resume {
  background-position: 100% 100%;
}
/* line 133, css.scss */
header li a #resume:hover {
  background-position: 60% 0%;
}
/* line 137, css.scss */
header li a #linkin {
  background-position: 100% 100%;
}
/* line 139, css.scss */
header li a #linkin:hover {
  background-position: 60% 0%;
}
/* line 143, css.scss */
header li a #address {
  background-position: 20% 100%;
}
/* line 145, css.scss */
header li a #address:hover {
  background-position: 20% 0%;
}
/* line 150, css.scss */
header li .btn {
  color: white;
}
/* line 153, css.scss */
header li .btn:hover {
  text-decoration: underline;
}
/* line 157, css.scss */
header li .phone {
  cursor: default;
}

/* line 162, css.scss */
#gaius {
  padding: 25px 10px 10px;
  background: url("../images/gaius.png") no-repeat 0 -30px;
  background-size: 700px;
}

/* line 167, css.scss */
#container {
  width: 94%;
  text-align: center;
  padding: 1%;
  margin: 3%;
  background: linear-gradient(#e5eec7, #5a9245);
  border-radius: 10px;
  box-shadow: 0 2px 8px black;
}
/* line 175, css.scss */
#container h1 {
  padding: 2% 0 0;
  color: #301f3a;
  font-weight: 300;
  text-align: left;
}
/* line 181, css.scss */
#container p {
  clear: both;
  text-align: left;
}
/* line 185, css.scss */
#container #chapters {
  display: inline-block;
  float: right;
  width: 20%;
}
/* line 189, css.scss */
#container #chapters li {
  text-align: center;
  color: white;
  background-color: #301f3a;
  border-radius: 5px;
  height: 84px;
  margin-bottom: 9px;
  padding-top: 22.5px;
}
/* line 197, css.scss */
#container #chapters li p {
  text-align: center;
}
/* line 200, css.scss */
#container #chapters li:hover {
  cursor: pointer;
  background-color: #5a9245;
}
/* line 205, css.scss */
#container #chapters .current {
  background-color: #436337;
}
/* line 209, css.scss */
#container .start {
  display: inline-block;
  clear: both;
  margin-top: 40px;
}
/* line 214, css.scss */
#container .description {
  border-left: solid #301f3a 1px;
  border-right: solid #301f3a 1px;
  padding: 5px 3%;
  color: white;
}
/* line 219, css.scss */
#container .description li {
  margin: 5px 3%;
  text-align: left;
}
/* line 222, css.scss */
#container .description li b {
  display: inline-block;
  height: 100%;
}
/* line 227, css.scss */
#container .description a {
  font-style: italic;
  color: #301f3a;
}
/* line 230, css.scss */
#container .description a:hover {
  text-decoration: underline;
}

/* line 236, css.scss */
#movie {
  display: inline-block;
  width: 640px;
  height: 360px;
  float: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* line 244, css.scss */
footer {
  text-align: right;
  height: 38px;
  line-height: 28px;
  padding: 5px 3%;
  background: url("../images/gel-btn.png") repeat-x #5a9245;
}

/* line 251, css.scss */
#socnet {
  height: 28px;
  font-size: 14px;
  text-align: right;
}
/* line 255, css.scss */
#socnet h4 {
  display: inline-block;
  line-height: 28px;
  vertical-align: top;
  color: white;
  font-weight: 400;
}
/* line 262, css.scss */
#socnet a {
  margin-left: 1%;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background: url("../images/socnet-sprite-lg.png") no-repeat #301f3a;
}
/* line 269, css.scss */
#socnet .fb {
  background-position: 0 -28px;
}
/* line 271, css.scss */
#socnet .fb:hover {
  background-position: 0 0;
}
/* line 275, css.scss */
#socnet .tw {
  background-position: -28px -28px;
}
/* line 277, css.scss */
#socnet .tw:hover {
  background-position: -28px 0;
}
/* line 281, css.scss */
#socnet .go {
  background-position: -56px -28px;
}
/* line 283, css.scss */
#socnet .go:hover {
  background-position: -56px 0;
}
/* line 287, css.scss */
#socnet .in {
  background-position: -84px -28px;
}
/* line 289, css.scss */
#socnet .in:hover {
  background-position: -84px 0;
}
/* line 293, css.scss */
#socnet .em {
  background-position: -112px -28px;
}
/* line 295, css.scss */
#socnet .em:hover {
  background-position: -112px 0;
}

@media (max-width: 960px) {
  /* line 302, css.scss */
  #movie {
    width: 550.4px;
    height: 309.6px;
  }

  /* line 306, css.scss */
  #container #chapters li {
    height: 71.4px;
    margin-bottom: 9px;
    padding-top: 19.35px;
    line-height: 19.35px;
    font-size: 15.48px;
  }
}
@media (max-width: 840px) {
  /* line 316, css.scss */
  #movie {
    float: none;
    display: block;
    margin: 0 auto;
    width: 480px;
    height: 270px;
  }

  /* line 324, css.scss */
  #container h1 {
    text-align: center;
  }
  /* line 327, css.scss */
  #container #chapters {
    float: none;
    margin-top: 9px;
    width: 480px;
  }
  /* line 331, css.scss */
  #container #chapters li {
    padding: 0;
    height: 30px;
    line-height: 30px;
    margin: 0 0 3px;
  }
  /* line 336, css.scss */
  #container #chapters li p {
    display: inline;
  }
}
@media (max-width: 650px) {
  /* line 344, css.scss */
  body {
    font-size: .8em;
  }

  /* line 347, css.scss */
  #container #chapters {
    width: 320px;
  }

  /* line 350, css.scss */
  #movie {
    width: 320px;
    height: 180px;
  }

  /* line 354, css.scss */
  header li a div {
    display: inline-block;
  }

  /* line 357, css.scss */
  header li a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
}
@media (max-width: 520px) {
  /* line 364, css.scss */
  #movie {
    width: 211.2px;
    height: 118.8px;
  }

  /* line 368, css.scss */
  #container #chapters {
    width: 211.2px;
  }
  /* line 370, css.scss */
  #container #chapters p {
    font-size: .9em;
  }
}
