<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/css.css">
    </head>
    <body>
        <section id="intro">
            <h1>Umptron: Building a JS Framework for Easy Ektron Development</h1>
            <!-- This is an example of passing ektron text to display -->
            <!-- Leave the element blankand it  will add text as expected, but adding an empty element with class="ektron-text" can be use to ensure the text is added without extra whitespace -->
            <!-- You can use "<%" and "%>" as reminders/markers during development and they will be removed before displaying -->
            <h2 data-ektron-text="<% Part 1: Setting text, data, and CSS - High Fives %>"><div class="ektron-text"></div><span></span></h2>
            <p data-ektron-text="Set text by filling emptiness or by using a placeholder. Set CSS with media queries and pseudo classes. Using data for custom JS functions."></p>

            <!-- This is an example of adding specialty data, not a part of the framework, that can come from Ektron but be used in a javascript function -->
            <!-- It is not necessary, but by using this naming convention it can be easier to remember that this data will need come from Ektron 
                    and can be helpful with troubleshooting after integration -->
            <p id="repeat" data-ektron-repeat="20">
                All work and no play make jack a dull boy. 
            </p>

            <!-- CSS can be used simply by writing normal CSS (ie background-color:black;border:solid red 1px;) -->
            <!-- Media queries can be added by using "&" to deliniate and adding "@min/max:[Number] at the end" -->
            <!-- Currently, only supports Screen min-width and max-width, but I might add others, like lanscape/portrait or Print etc -->
            <div id="highfive" data-ektron-css="background-image:url(img/High_five.png);&background-image:url(img/despicable-me-high-five-minions-magnet-4.jpg);background-color:white;@min:400&background-image:url(img/highfive.jpg);background-color:#9bb3e1;@min:800"></div>
        </section>
        <section id="puppies">
            <h2>Part 2: Attributes and Puppies</h2>
            <!-- This is an example of adding attributes -->
            <!-- attribute name and equal sign and the value -->
            <!-- Multiple attributes can be added using an "&" just lie a query string -->
            <a id="link" data-ektron-attributes="href=https://www.google.com/search?q=puppies&espv=2&biw=1679&bih=812&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMI1d3HhN_PyAIVAymICh2I3gIs" data-ektron-text="Google Puppies right Now" target="_blank"></a>

            <div id="anotherdiv">
                <!-- since & and = are used to deliminate, if you want to use an & or =  in an alt attribute you can use the ASCII Hex value instead-->
                <img data-ektron-attributes="src=img/puppy.jpg &alt = This is a picture of a puppy %26 a white background, which %3B cute." data-ektron-css="border: transparent; &:hover{border: solid black 1px;background-color:darkred;}" />
                <img src="img/puppy.jpg" />
            </div>

            <!-- Framework will auto add a random unique id if none are present -->
            <button data-ektron-css="display:inline-block; height:50px; width:200px; background-color:darkgreen; &:hover{background-color:darkred;box-shadow: 0 0 10px black;}">Click Here</button>
            <p>More paragraph text, this time in white.</p>
        </section>
        <section id="puppies">
            <p>One advantage to a CMS, like Ektron, is that the widgets can be reused. However, this can also be problematic with id attributes because they must be unique on each page. Therefore, we should try to avoid using id attributes wherever possible and use classes instead. Additionally, the CSS can be hard to work with since the same widget will have exactly the same class and id names as other instations of that widget elsewhere. This will makes things difficult if you want to style those instances differently but with the same stylesheets. Or target them in JS/jQuery, for that matter.   </p>
        </section>
        <section id="puppies">
            <p>To deal with this, Umptron will update all <b>body>section</b> tags with unique classes based on the page they appear on. One will be the page name from the URL (minus the extension, if applicable). In this case, "index.html" becomes "index". The other class will be the page name plus the section's ID. These unique classes will help targeting elements from different instantiations of the same widget with css and js. If the same widget appears on the same page, its id will get changed to a sequence. "my_id", becomes "my_id0", "my_id1", "my_id2", etc. This means that every widget should really be inclosed with a section tag--which makes semantic sense anyway.</p>
        </section>
        <section id="LOTR">
            <h2>Part 3: JRR Tolkien and Building Loops in HTML Using Temp Data</h2>
            <ul> 
                <!-- Loop for easy integration with Ektron -->
                <!-- Passing data-ektron-temp a json file of sample data will generate the elements based on that sample, including child elements -->
                <!-- Assigning an id will automatically get numbers added (ie my-list becomes my-list0, my-list1, my-list2, etc), but this is
                        for front end developement and will still need to be added in ektron with <%=j %> -->
                <!-- <% foreach { %> --> <!-- Use comments like this for front-end devs communication to back-end devs -->
                <li id="my-list" data-ektron-temp="js/temp.json">
                    <h3 data-ektron-text="<%=Title%>"></h3>
                    <img data-ektron-attributes="src=<%=Image%>" />
                </li>
                <!-- <% } %> -->
            </ul>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/umptron.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>