/* line 32, css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 39, css.scss */
div {
  position: relative;
}

/* line 42, css.scss */
img {
  display: inline-block;
  border: 0;
  outline: none;
}

/* line 47, css.scss */
a {
  display: inline-block;
}

/* line 50, css.scss */
a img {
  border: 0;
}

/* line 53, css.scss */
a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/* line 56, css.scss */
ul {
  list-style: none;
}

/* line 59, css.scss */
h1 {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 10px;
}
/* line 65, css.scss */
h1 a {
  color: white;
}
/* line 67, css.scss */
h1 a:hover {
  text-decoration: underline;
}

/* line 72, css.scss */
h2 {
  font-size: 1.2em;
  text-align: left;
  color: #301f3a;
  font-weight: 400;
  padding: 2% 2% 0;
  margin-top: 3%;
  border-top: solid white 1px;
  clear: both;
}

/* line 82, css.scss */
body {
  position: relative;
  width: 100%;
  background: url("../images/cross.png") #e5eec7;
  font-family: "Quicksand", "Century Gothic", sans-serif;
}

/* line 91, css.scss */
#portfolio {
  max-width: 1000px;
  width: 94%;
  margin: 0 auto;
  background-color: #301f3a;
  box-shadow: 0 0 5px #436337;
  overflow: hidden;
}

/* line 99, css.scss */
header {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  z-index: 10;
  background-color: #5a9245;
  background-image: linear-gradient(#5a9245, #436337);
  color: white;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/* line 108, css.scss */
header li {
  display: inline-block;
  padding-bottom: 10px;
  font-size: .9em;
}
/* line 112, css.scss */
header li a {
  color: white;
  overflow: hidden;
  margin: 0 10px;
}
/* line 116, css.scss */
header li a div {
  display: none;
  height: 30px;
  width: 30px;
  background: url(../images/icons.png) no-repeat;
  background-size: 900% 200%;
  background-position: bottom;
  border-radius: 10%;
  vertical-align: middle;
}
/* line 128, css.scss */
header li a #phone {
  background-position: 25% 100%;
}
/* line 131, css.scss */
header li a #email {
  background-position: 50% 100%;
}
/* line 133, css.scss */
header li a #email:hover {
  background-position: 50% 0%;
}
/* line 137, css.scss */
header li a #demoreel {
  background-position: 75% 100%;
}
/* line 139, css.scss */
header li a #demoreel:hover {
  background-position: 75% 0%;
}
/* line 143, css.scss */
header li a #resume {
  background-position: 87.5% 100%;
}
/* line 145, css.scss */
header li a #resume:hover {
  background-position: 87.5% 0%;
}
/* line 149, css.scss */
header li a #linkin {
  background-position: 37.5% 100%;
}
/* line 151, css.scss */
header li a #linkin:hover {
  background-position: 37.5% 0%;
}
/* line 155, css.scss */
header li a #address {
  background-position: 12.5% 100%;
}
/* line 157, css.scss */
header li a #address:hover {
  background-position: 12.5% 0%;
}
/* line 162, css.scss */
header li .btn {
  color: white;
}
/* line 165, css.scss */
header li .btn:hover {
  text-decoration: underline;
}
/* line 169, css.scss */
header li .phone {
  cursor: default;
}

/* line 174, css.scss */
#gaius {
  padding: 25px 10px 10px;
  background: url("../images/gaius.png") no-repeat 0 -30px;
  background-size: 700px;
}

/* line 179, css.scss */
#container {
  width: 96%;
  text-align: center;
  padding: 1% 1% 5%;
  margin: 2%;
  background-image: linear-gradient(#e5eec7, #5a9245);
  background-color: #e5eec7;
  border-radius: 10px;
  box-shadow: 0 2px 8px black;
}
/* line 188, css.scss */
#container h1 {
  padding: 2% 0 0;
  color: #301f3a;
  font-weight: 300;
  text-align: left;
}
/* line 194, css.scss */
#container p {
  text-align: left;
  padding: 2%;
}
/* line 198, css.scss */
#container .long-description, #container .short-description {
  display: inline-block;
  padding: 2%;
  margin: 1%;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 203, css.scss */
#container .long-description p, #container .short-description p {
  padding: 0 0 0;
}
/* line 206, css.scss */
#container .long-description h3, #container .short-description h3 {
  color: #5a9245;
  font-size: 1em;
  margin: 2% 0;
}
/* line 211, css.scss */
#container .long-description img, #container .short-description img {
  width: 100px;
  margin: 0 2% 1% 0;
  box-shadow: 0 1px 1px 2px #5a9245;
}
/* line 218, css.scss */
#container a:hover {
  box-shadow: 0 0 0 2px #5a9245;
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 221, css.scss */
#container a:hover h3 {
  text-decoration: underline;
}
/* line 226, css.scss */
#container .long-description {
  width: 96%;
  text-align: left;
}
/* line 229, css.scss */
#container .long-description img {
  float: left;
  vertical-align: top;
}
/* line 233, css.scss */
#container .long-description img.unsubscribe {
  width: 100%;
  margin-top: 2%;
}
/* line 237, css.scss */
#container .long-description p {
  margin-top: 2%;
  color: #301f3a;
}
/* line 242, css.scss */
#container .short-description {
  color: #5a9245;
  width: 30%;
}
/* line 245, css.scss */
#container .short-description img {
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
}
/* line 250, css.scss */
#container .short-description p {
  text-align: center;
}
/* line 254, css.scss */
#container .more, #container .less {
  display: none;
  cursor: pointer;
  float: right;
  color: #5a9245;
}
/* line 259, css.scss */
#container .more:hover, #container .less:hover {
  text-decoration: underline;
  color: #301f3a;
}
/* line 264, css.scss */
#container iframe {
  /*500 x 325 100 x 65 200 130*/
  display: block;
  margin: 0 auto 1%;
  width: 300px;
  height: 195px;
  box-shadow: 0 1px 1px 2px #5a9245;
}

/* line 273, css.scss */
footer {
  text-align: right;
  height: 38px;
  line-height: 28px;
  padding: 5px 3%;
  background: url("../images/gel-btn.png") repeat-x #5a9245;
}

/* line 280, css.scss */
#socnet {
  height: 28px;
  font-size: 14px;
  text-align: right;
}
/* line 284, css.scss */
#socnet h4 {
  display: inline-block;
  line-height: 28px;
  vertical-align: top;
  color: white;
  font-weight: 400;
}
/* line 291, css.scss */
#socnet a {
  margin-left: 1%;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background: url("../images/socnet-sprite-lg.png") no-repeat #301f3a;
}
/* line 298, css.scss */
#socnet .fb {
  background-position: 0 -28px;
}
/* line 300, css.scss */
#socnet .fb:hover {
  background-position: 0 0;
}
/* line 304, css.scss */
#socnet .tw {
  background-position: -28px -28px;
}
/* line 306, css.scss */
#socnet .tw:hover {
  background-position: -28px 0;
}
/* line 310, css.scss */
#socnet .go {
  background-position: -56px -28px;
}
/* line 312, css.scss */
#socnet .go:hover {
  background-position: -56px 0;
}
/* line 316, css.scss */
#socnet .in {
  background-position: -84px -28px;
}
/* line 318, css.scss */
#socnet .in:hover {
  background-position: -84px 0;
}
/* line 322, css.scss */
#socnet .em {
  background-position: -112px -28px;
}
/* line 324, css.scss */
#socnet .em:hover {
  background-position: -112px 0;
}

@media (max-width: 800px) {
  /* line 332, css.scss */
  #container h1 {
    text-align: center;
  }
}
@media (max-width: 650px) {
  /* line 338, css.scss */
  body {
    font-size: .8em;
  }

  /* line 341, css.scss */
  header li a div {
    display: inline-block;
  }

  /* line 344, css.scss */
  header li a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }

  /* line 350, css.scss */
  #container .short-description {
    width: 45%;
  }
  /* line 353, css.scss */
  #container iframe {
    width: 200px;
    height: 130px;
  }
}
