/* line 33, css.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 40, css.scss */
div {
  position: relative;
}

/* line 43, css.scss */
img {
  display: inline-block;
  border: 0;
  outline: none;
  width: 100%;
  height: auto;
}

/* line 50, css.scss */
a {
  display: inline-block;
}

/* line 53, css.scss */
a img {
  border: 0;
}

/* line 56, css.scss */
a, a:hover, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
}

/* line 60, css.scss */
ul {
  list-style: none;
}

/* line 63, css.scss */
h1, h2, h3 {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

/* line 67, css.scss */
h1 {
  font-weight: 100;
  font-size: 4em;
  line-height: 1em;
}
/* line 71, css.scss */
h1 a {
  color: white;
}
/* line 73, css.scss */
h1 a:hover {
  text-decoration: none;
}

/* line 78, css.scss */
h2 {
  font-size: 1.5em;
  text-align: right;
  color: #301f3a;
  font-weight: 400;
  padding: 2px 2% 0;
  margin-top: 2px;
  border-top: solid #301f3a 1px;
  clear: both;
}

/* line 91, css.scss */
p {
  font-size: 1.2em;
  font-weight: 400;
}

/* line 95, css.scss */
p:empty:before, .temp-text:before {
  content: "You can create anything that makes you happy. Let the paint work. You can do anything here. So don't worry about it. Look around, look at what we have. Beauty is everywhere, you only have to look to see it. This is probably the greatest thing to happen in my life - to be able to share this with you.";
}

/* line 98, css.scss */
body {
  position: relative;
  width: 100%;
  background: url("../images/cross.png") #e5eec7;
  font-family: "Quicksand", "Century Gothic", sans-serif;
}

/* line 107, css.scss */
#portfolio {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: url("../images/cross.png") #301f3a;
  box-shadow: 0 0 5px #436337;
  overflow: hidden;
}

/* line 115, css.scss */
header {
  text-align: center;
  max-width: 1600px;
  width: 100%;
  z-index: 10;
  background-color: #5a9245;
  background-image: linear-gradient(#5a9245, #436337);
  color: white;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/* line 124, css.scss */
header li {
  display: inline-block;
  padding-bottom: 10px;
  font-size: .9em;
}
/* line 128, css.scss */
header li a {
  color: white;
  overflow: hidden;
  margin: 0 10px;
}
/* line 132, css.scss */
header li a div {
  display: none;
  height: 30px;
  width: 30px;
  background: url(../images/icons.png) no-repeat;
  background-size: 900% 200%;
  background-position: bottom;
  border-radius: 10%;
  vertical-align: middle;
}
/* line 143, css.scss */
header li a #phone {
  background-position: 25% 100%;
}
/* line 146, css.scss */
header li a #email {
  background-position: 50% 100%;
}
/* line 148, css.scss */
header li a #email:hover {
  background-position: 50% 0%;
}
/* line 152, css.scss */
header li a #demoreel {
  background-position: 75% 100%;
}
/* line 154, css.scss */
header li a #demoreel:hover {
  background-position: 75% 0%;
}
/* line 158, css.scss */
header li a #resume {
  background-position: 87.5% 100%;
}
/* line 160, css.scss */
header li a #resume:hover {
  background-position: 87.5% 0%;
}
/* line 164, css.scss */
header li a #linkin {
  background-position: 37.5% 100%;
}
/* line 166, css.scss */
header li a #linkin:hover {
  background-position: 37.5% 0%;
}
/* line 170, css.scss */
header li a #address {
  background-position: 12.5% 100%;
}
/* line 172, css.scss */
header li a #address:hover {
  background-position: 12.5% 0%;
}
/* line 177, css.scss */
header li .btn {
  color: white;
}
/* line 179, css.scss */
header li .btn:hover {
  text-decoration: underline;
}
/* line 183, css.scss */
header li .phone {
  cursor: default;
}

/* line 188, css.scss */
#gaius {
  padding: 25px 10px 10px;
  background-image: url("../images/gaius.png");
  background-repeat: no-repeat;
  background-position: 0 8%;
  background-size: 900px;
}

/* line 195, css.scss */
#container {
  width: 96%;
  text-align: center;
  padding: 2% 2% 5%;
  margin: 2%;
  background-color: white;
  background-image: linear-gradient(#fdfffc, #e5eec7);
  background-attachment: fixed;
  border-radius: 10px;
  box-shadow: 0 2px 8px black;
}
/* line 205, css.scss */
#container h1 {
  padding: 4% 0 0;
  color: #301f3a;
  text-align: left;
}
/* line 210, css.scss */
#container p {
  text-align: left;
  padding: 2%;
}
/* line 214, css.scss */
#container .long-description, #container .short-description {
  display: inline-block;
  background-color: white;
}
/* line 217, css.scss */
#container .long-description p, #container .short-description p {
  padding: 0 4% 2%;
}
/* line 220, css.scss */
#container .long-description h3, #container .short-description h3 {
  color: #5a9245;
  font-size: 2em;
  padding: 4% 0 0;
}
/* line 225, css.scss */
#container .long-description a, #container .short-description a {
  margin-bottom: 2%;
  color: #301f3a;
  font-style: italic;
}
/* line 229, css.scss */
#container .long-description a:hover, #container .short-description a:hover {
  text-decoration: underline;
}
/* line 233, css.scss */
#container .long-description img, #container .short-description img {
  width: 33%;
  margin: 0 4% 0 0;
}
/* line 238, css.scss */
#container .long-description {
  margin: 4% 2%;
  width: 96%;
  text-align: left;
}
/* line 242, css.scss */
#container .long-description img:not(".thumb") {
  float: left;
  vertical-align: top;
}
/* line 246, css.scss */
#container .long-description img.unsubscribe {
  width: 100%;
  margin-top: 2%;
}
/* line 250, css.scss */
#container .long-description p {
  color: #301f3a;
}
/* line 252, css.scss */
#container .long-description p .more-txt {
  display: none;
}
/* line 255, css.scss */
#container .long-description p:last-child {
  padding-bottom: 4%;
}
/* line 258, css.scss */
#container .long-description p button {
  border: none;
  background: none;
  color: #5a9245;
  font-style: italic;
  font-size: .9em;
  font-family: "Quicksand", "Century Gothic", sans-serif;
  padding-left: 10px;
}
/* line 266, css.scss */
#container .long-description p button:hover {
  color: #301f3a;
  cursor: pointer;
}
/* line 270, css.scss */
#container .long-description p button.more-txt:after {
  content: ">>";
  font-size: .7em;
  letter-spacing: -4px;
  margin-left: 4px;
}
/* line 276, css.scss */
#container .long-description p button.less-txt:before {
  content: "<<";
  font-size: .7em;
  letter-spacing: -4px;
  margin-right: 4px;
}
/* line 285, css.scss */
#container .landing-pages {
  font-size: 0;
}
/* line 288, css.scss */
#container .short-description {
  color: #5a9245;
  width: 21%;
  overflow: hidden;
  display: inline-block;
  margin: 0 1% 2%;
}
/* line 294, css.scss */
#container .short-description img {
  width: 100%;
  display: inline-block;
}
/* line 298, css.scss */
#container .short-description p {
  font-size: 16px;
  text-align: center;
  padding: 0;
  color: white;
  background-color: #5a9245;
  line-height: 200%;
}
/* line 306, css.scss */
#container .short-description:hover {
  box-shadow: 0 0 0 2px #436337;
}
/* line 308, css.scss */
#container .short-description:hover p {
  background-color: #436337;
}
/* line 314, css.scss */
#container .stand-alone h3 {
  padding-top: 2%;
  padding-left: 4%;
  padding-bottom: 2%;
}
/* line 320, css.scss */
#container img.thumb {
  float: left;
  vertical-align: top;
  width: 100px;
  margin: 2%;
  box-shadow: 0 1px 1px 2px #5a9245;
}
/* line 327, css.scss */
#container .lightroom {
  clear: both;
  padding: 2%;
  text-align: center;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5) inset;
  background-image: radial-gradient(ellipse 100% 200% at top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)), url("../images/cross.png"), linear-gradient(135deg, #301f3a, #000000);
  background-color: #301f3a;
  background-size: cover, 10px 10px, cover, cover;
}
/* line 339, css.scss */
#container .lightroom img {
  clear: both;
  float: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
/* line 344, css.scss */
#container .lightroom img.full {
  width: 84%;
  margin: 6% 8%;
}
/* line 348, css.scss */
#container .lightroom img.half {
  width: 38%;
  margin: 6% 4%;
}
/* line 353, css.scss */
#container .more, #container .less {
  display: none;
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  right: 0;
  margin: 2%;
}
/* line 361, css.scss */
#container .more {
  color: #5a9245;
  bottom: 0;
  transition: all 0.5s ease;
}
/* line 364, css.scss */
#container .more:hover {
  color: #301f3a;
}
/* line 367, css.scss */
#container .more:hover div {
  background-color: #301f3a;
}
/* line 371, css.scss */
#container .more div {
  transition: all 0.5s ease;
}
/* line 374, css.scss */
#container .more div {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #5a9245;
  vertical-align: text-bottom;
  line-height: 16px;
  font-size: 16px;
  color: #D4E2C8;
  text-align: center;
}
/* line 386, css.scss */
#container .more div:after {
  content: "+";
}
/* line 391, css.scss */
#container .less {
  color: #938D97;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  top: 0;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
/* line 398, css.scss */
#container .less div {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #938D97;
  vertical-align: text-bottom;
  line-height: 16px;
  font-size: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: #301f3a;
  text-align: center;
}
/* line 411, css.scss */
#container .less div:after {
  content: "X";
}
/* line 415, css.scss */
#container .less:hover {
  color: white;
}
/* line 418, css.scss */
#container .less:hover div {
  background-color: white;
}

/* line 423, css.scss */
footer {
  text-align: left;
  padding: 20px 3%;
  background-color: #436337;
  color: white;
}
/* line 428, css.scss */
footer .copyright {
  width: 49%;
  float: left;
  vertical-align: text-bottom;
}
/* line 432, css.scss */
footer .copyright a {
  color: inherit;
  font-size: .7em;
  line-height: 1em;
  display: block;
  margin: 5px 0;
}
/* line 438, css.scss */
footer .copyright a:hover {
  color: inherit;
  text-decoration: underline;
}
/* line 442, css.scss */
footer .copyright a:first-child {
  font-size: .9em;
  line-height: 24px;
}
/* line 448, css.scss */
footer:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 454, css.scss */
#socnet {
  line-height: 100%;
  height: 24px;
  width: 40%;
  font-size: 14px;
  float: right;
  text-align: right;
  bottom: 0;
}
/* line 462, css.scss */
#socnet h4 {
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
  color: white;
  font-weight: 400;
}
/* line 469, css.scss */
#socnet a {
  margin-left: 1%;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: url("../images/socnet-sprite-lg.png") no-repeat #301f3a;
  background-size: 500% 200%;
}
/* line 477, css.scss */
#socnet .fb {
  background-position: 0 -24px;
}
/* line 479, css.scss */
#socnet .fb:hover {
  background-position: 0 0;
}
/* line 483, css.scss */
#socnet .tw {
  background-position: -24px -24px;
}
/* line 485, css.scss */
#socnet .tw:hover {
  background-position: -24px 0;
}
/* line 489, css.scss */
#socnet .go {
  background-position: -48px -24px;
}
/* line 491, css.scss */
#socnet .go:hover {
  background-position: -48px 0;
}
/* line 495, css.scss */
#socnet .in {
  background-position: -72px -24px;
}
/* line 497, css.scss */
#socnet .in:hover {
  background-position: -72px 0;
}
/* line 501, css.scss */
#socnet .em {
  background-position: -96px -24px;
}
/* line 503, css.scss */
#socnet .em:hover {
  background-position: -96px 0;
}

@media (max-width: 1300px) {
  /* line 509, css.scss */
  #container .short-description {
    width: 31%;
  }
}
@media (max-width: 1000px) {
  /* line 514, css.scss */
  .hideable {
    display: none;
  }

  /* line 517, css.scss */
  #container .short-description {
    width: 47%;
  }
}
@media (max-width: 750px) {
  /* line 523, css.scss */
  #container h1 {
    text-align: center;
  }
  /* line 526, css.scss */
  #container h2 {
    text-align: center;
    padding: 2% 2% 0;
  }
  /* line 530, css.scss */
  #container a {
    display: block;
    text-align: center;
  }
  /* line 535, css.scss */
  #container .long-description:not(.illustration) h3, #container .short-description h3 {
    text-align: center;
  }
  /* line 538, css.scss */
  #container .long-description:not(.illustration) img, #container .short-description img {
    width: 100%;
    margin: 0 0 4% 0;
  }
  /* line 542, css.scss */
  #container .long-description:not(.illustration) img.thumb, #container .short-description img.thumb {
    float: left;
    vertical-align: top;
    width: 100px;
  }
  /* line 548, css.scss */
  #container .illustration {
    text-align: center;
  }
  /* line 550, css.scss */
  #container .illustration img {
    float: none;
    margin: auto;
  }
  /* line 554, css.scss */
  #container .illustration p {
    display: none;
  }
  /* line 557, css.scss */
  #container .illustration .more {
    float: none;
  }

  /* line 563, css.scss */
  footer .copyright {
    width: 100%;
    float: none;
  }
  /* line 566, css.scss */
  footer .copyright a {
    text-align: center;
  }
  /* line 570, css.scss */
  footer #socnet {
    margin-top: 25px;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 650px) {
  /* line 578, css.scss */
  body {
    font-size: .8em;
  }

  /* line 581, css.scss */
  header li a div {
    display: inline-block;
  }

  /* line 584, css.scss */
  header li a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }

  /* line 589, css.scss */
  #container .short-description {
    width: 94%;
  }
}
