//-------------------
// VARIABLIZE
//-------------------
$body-font: "Quicksand", 'Century Gothic', sans-serif;
$title-font: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
$gutter: 25px; 
$bleed: 10px;
$corners: 5px;
$head-height: 100px;
$soc-size: 24px;
$pg-width: 1600px;
$pg-height: 1100px;
$fr-width: $pg-width - $gutter*2;
$fr-height: $pg-height - $gutter*2;
$movie-width: 640px;
$movie-height: 360px;

$icon-size: 30px;

$green: #5A9245;
$light: #fdfffc;
$purple: #301F3A;
$accent-color: #E5EEC7;
$neutral-color: #5C5948;
$dark-color: #436337;
$in-blue: #1779b3;

$font-head: 24px;

//-------------------
// STANDARDIZE
//-------------------
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    //transition:all 0.3s ease; 
}
div {
    position: relative;
}
img {
    display: inline-block;
    border: 0;
    outline: none;
    width: 100%;
    height: auto;
}
a {
    display: inline-block;
}
a img {
    border: 0; 
}
a, a:hover, a:visited, a:active {
    text-decoration: none; 
    cursor: pointer;
}
ul {
    list-style: none;
}
h1, h2, h3 {
    font-family: $title-font;
    font-weight: 300;
}
h1 {
    font-weight: 100;
    font-size: 4em;
    line-height: 1em;
    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
}
h2 {
    font-size: 1.5em;
    text-align: right;
    color: $purple;
    font-weight: 400;
    padding: 2px 2% 0;
    margin-top: 2px;
    border-top: solid $purple 1px;
    clear: both;
}
//h2:not(.first) {
//    margin-top: 5%;
//}
p {
    font-size: 1.2em;
    font-weight: 400;
}
p:empty:before, .temp-text:before  {
    content: "You can create anything that makes you happy. Let the paint work. You can do anything here. So don't worry about it. Look around, look at what we have. Beauty is everywhere, you only have to look to see it. This is probably the greatest thing to happen in my life - to be able to share this with you.";
}
body {
    position: relative;
    width: 100%;
    background: url("../images/cross.png") $accent-color;
    font-family: $body-font;
}
//-------------------
// PAGE
//------------------- 
#portfolio {
    max-width: $pg-width;
    width: 100%;
    margin: 0 auto;
    background: url("../images/cross.png") $purple;
    box-shadow: 0 0 5px $dark-color;
    overflow: hidden;
}
header {
    text-align: center;
    max-width: $pg-width;
    width: 100%;
    z-index: 10;
    background-color: $green;
    background-image: linear-gradient($green, $dark-color);
    color: white;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, .7);
    li {
        display: inline-block;
        padding-bottom: $bleed;
        font-size: .9em;
        a { 
            color: white;
            overflow: hidden;
            margin: 0 $bleed;
            div {
                display: none;
                height: $icon-size;
                width: $icon-size;
                background: url(../images/icons.png) no-repeat;
                background-size: 900% 200%;
                background-position: bottom;
                border-radius: 10%;
                vertical-align: middle;
            } 
            //portfolio 0 | address 12.5 | phone 25 | linkin  37.5 | mail 50 | printer 62.5 | reel  75 | resume 87.5
            #phone {
                background-position: 25% 100%;
            }
            #email {
                background-position: 50% 100%;
                &:hover {
                    background-position: 50% 0%;
                }
            }
            #demoreel {
                background-position: 75% 100%;
                &:hover {
                    background-position: 75% 0%;
                }
            }
            #resume {
                background-position: 87.5% 100%;
                &:hover {
                    background-position: 87.5% 0%;
                }
            }
            #linkin {
                background-position: 37.5% 100%;
                &:hover {
                    background-position: 37.5% 0%;
                }
            }
            #address {
                background-position: 12.5% 100%;
                &:hover {
                    background-position: 12.5% 0%;
                }
            }
        }
        .btn {
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
        .phone {
            cursor: default;
        }
    }
}
    #gaius {
        padding: $gutter $bleed $bleed;
        background-image: url("../images/gaius.png");
        background-repeat: no-repeat;
        background-position: 0 8%;
        background-size: 900px;
    }
    #container {
        width: 96%;
        text-align: center;
        padding: 2% 2% 5%;
        margin: 2%;
        background-color: white;
        background-image: linear-gradient($light, $accent-color);
        background-attachment: fixed;
        border-radius: $bleed;
        box-shadow: 0 2px 8px black;
        h1 {
            padding: 4% 0 0;
            color: $purple;
            text-align: left;
        }
        p {
            text-align: left;
            padding: 2%;
        }
        .long-description, .short-description {
            display: inline-block;
            background-color: white;
            p {
                padding: 0 4% 2%;
            }
            h3 {
                color: $green;
                font-size: 2em;
                padding: 4% 0 0;
            } 
            a {
                margin-bottom: 2%;
                color: $purple;
                font-style: italic;
                &:hover {
                    text-decoration: underline;
                }
            }
            img {
                width: 33%;
                margin: 0 4% 0 0;
            }
        }
        .long-description {
            margin: 4% 2%;
            width: 96%;
            text-align: left;
            img {
                float: left;
                vertical-align: top;
            }
            img.unsubscribe {
                width: 100%;
                margin-top: 2%;
            }
            p { 
                color: $purple;
                .more-txt {
                    display: none;
                }
                &:last-child {
                    padding-bottom: 4%;
                }
                button {
                    border: none;
                    background: none;
                    color: $green;
                    font-style: italic;
                    font-size: .9em;
                    font-family: $body-font;
                    padding-left: 10px;
                    &:hover {
                        color: $purple;
                        cursor: pointer;
                    }
                    &.more-txt:after {     
                        content: ">>";
                        font-size: .7em;
                        letter-spacing: -4px;
                        margin-left: 4px;
                    }
                    &.less-txt:before {
                        content: "<<";
                        font-size: .7em;
                        letter-spacing: -4px;
                        margin-right: 4px;
                    }
                }
            }
        }
        .landing-pages {
            font-size: 0;
        }
        .short-description {
            color: $green;
            width: 21%;
            overflow: hidden;
            display: inline-block;
            margin: 0 1% 2%;
            img {
                width: 100%;
                display: inline-block;
            }
            p {
                font-size: 16px;
                text-align: center;
                padding: 0;
                color: white;
                background-color: $green;
                line-height: 200%;
            }
            &:hover {
                box-shadow: 0 0 0 2px $dark-color;
                p {
                    background-color: $dark-color;
                }
            }
        }
        .stand-alone {
            h3 {
                padding-top: 2%;
                padding-left: 4%;
                padding-bottom: 2%;
            }
        }
    }
    footer {
        text-align: left;
        padding: 20px 3%;
        background-color: $dark-color;
        color: white;
        .copyright {
            width: 49%;
            float: left;
            vertical-align: text-bottom;
            a {
                color: inherit;
                font-size: .7em;
                line-height: 1em;
                display: block;
                margin: 5px 0;
                &:hover {
                    color: inherit;
                    text-decoration: underline;
                }
                &:first-child {
                    font-size: .9em;
                    line-height: $soc-size;
                }
            }
        }
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
    }
        #socnet {
            line-height: 100%;
            height: $soc-size;
            width: 40%;
            font-size: 14px;
            float: right;
            text-align: right;
            bottom: 0;
            h4 {
                display: inline-block;
                line-height: $soc-size;
                vertical-align: top;
                color: white;
                font-weight: 400;
            }
            a {
                margin-left: 1%;
                width: $soc-size;
                height: $soc-size;
                border-radius: $soc-size/2;
                background: url("../images/socnet-sprite-lg.png") no-repeat $purple;
                background-size: 500% 200%
            }
            .fb {
                background-position: 0 -1*$soc-size;
                &:hover {
                    background-position: 0 0;
                }
            }
            .tw {
                background-position: -1*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -1*$soc-size 0;
                }
            }
            .go {
                background-position: -2*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -2*$soc-size 0;
                }
            }
            .in {
                background-position: -3*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -3*$soc-size 0;
                }
            }
            .em {
                background-position: -4*$soc-size -1*$soc-size;
                &:hover {
                    background-position: -4*$soc-size 0;
                }
            }
        }
@media (max-width: 1300px) {
    #container .short-description {
        width: 31%;
    }
}
@media (max-width: 1000px) {
    .hideable {
        display: none;
    }
    #container .short-description {
        width: 47%;
    }
    footer {
        .copyright a {
            font-size: 1em;
        }
    }
}
@media (max-width: 700px) and (orientation: portrait) {
    #gaius {
        h1 {
            font-size: 3em;
            margin-bottom: $bleed;
        }
    }
    #container {
        h1:not(:first-child) {
            margin-top: $gutter*2;
        }
        h1 {
            font-size: 3em;
        }
        h2 {
            margin-bottom: $bleed;
        }
    }
}

@media (max-width: 750px) {
    #container {
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
            padding: 2% 2% 0;
        }
        a {
            display: block;
            text-align: center;
        }
        .long-description:not(.illustration), .short-description {
            h3 {
                text-align: center;
            }
            img {
                width: 100%;
                margin: 0 0 4% 0;
            }
            img.thumb {
                float: left;
                vertical-align: top;
                width: 100px;
            }
        }
    }
    footer {
        .copyright {
            width: 100%;
            float: none;
            a {
                text-align: center;
            }
        }
        #socnet {
            margin-top: $gutter;
            text-align: center;
            width: 100%;
        }
    }
}
@media (max-width: 650px) {
    body {
        font-size: .8em;
    }
    header li a div {
        display: inline-block;
    }
    header li a {
        width: $icon-size;
        height: $icon-size;
        margin: 0 $bleed/2;
    }
    #container .short-description {
        width: 47%;
        p {
            font-size: 12px;
        }
    }
}
@media (max-width: 700px) and (orientation: landscape) {
    #container .short-description {
        width: 22%;
        p {
            font-size: 12px;
        }
    }
}